.root-account-modal {
  .subaccount-list {
    max-height: 300px;
    overflow-y: auto;
  }
  .modal-header {
    padding: 1rem 1rem 0.5rem 1rem;
  }
  .modal-content {
    min-height: 500px;
  }
}
.loree-role {
  .feature-list-vertical-line {
    margin-left: 50px;
    margin-top: -20px;
  }
}
.nav-tabs .nav-link {
  outline: none;
}
.save-role-loader {
  top: 0px;
}
.tab-container .loader-icon {
  position: absolute;
}
.admin-accordion.tab-container .card-body {
  min-height: 100px;
}
.admin-table {
  svg {
    cursor: pointer;
  }
}
