@import '../../../assets/stylesheets/color';
.analytics-stats {
  width: 19%;
  p {
    margin-bottom: 0 !important;
  }
  .stats-percent {
    font-size: 12px;
  }
  .positive-count {
    color: $positive-progress;
  }
  .negative-count {
    color: $negative-progress;
  }
  .stats-count {
    font-size: 32px;
    color: $color_ultramarine;
  }
}
.stats-label {
  font-size: 16px;
  color: $color_dorado;
}
.analytics-chart-block {
  .card-title {
    margin-bottom: unset;
    font-size: 18px;
  }
  button.btn-outline-primary {
    font-size: 12px;
    padding: 2px 6px;
    margin: 10px 10px 10px 0;
  }
  button.btn-primary {
    font-size: 12px;
    padding: 2px 6px;
    margin: 10px 10px 10px 0;
  }
  .recharts-legend-item-text {
    color: #606060 !important;
  }
  .by-template-chart-render,
  .by-country-chart-render {
    width: 100%;
    height: 300px;
  }
  .by-template-chart-render {
    svg {
      margin-left: -4%;
    }
    .recharts-default-legend {
      display: flex;
      justify-content: space-between;
      padding-top: 10px;
      li {
        margin-right: 0 !important;
      }
    }
  }
  .by-country-chart-render {
    .active-user-value {
      transform: translateY(-10px);
      font-size: 27px;
      font-weight: bold;
      tspan {
        fill: $color_ultramarine;
      }
    }
    .active-user-label {
      tspan {
        fill: $color_dorado;
      }
    }
  }
}
.admin-custom-select.form-group {
  .arrow-down {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $black;
    top: 0;
    bottom: 0;
  }
}

// Recharts chart Tooltip
.recharts-tooltip-wrapper {
  .recharts-default-tooltip {
    border: 1px solid $color_ultramarine !important;
    border-radius: 4px;
    padding: 5px 10px !important;
    ul.recharts-tooltip-item-list {
      li {
        span {
          &:first-child {
            color: $color_dorado;
          }
          &:nth-child(3) {
            color: $color_ultramarine;
          }
        }
      }
    }
  }
}
