.loader-icon {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 5;
}

.loaderViewText {
  font-family: sans-serif;
  font-size: 1.1rem;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, 150%);
}

.fa-spin {
  animation-duration: 1s;
}
