@import '../../assets/stylesheets/color';
.outlineImage {
  border-radius: 6px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%23333' stroke-width='2' stroke-dasharray='10 6' stroke-dashoffset='3' stroke-linecap='round'/%3e%3c/svg%3e");
}

.noPadding {
  padding: 0px !important;
}

.margin40 {
  margin: 40px !important;
}

.leftBlockHeader {
  font-size: 20px !important;
  font-family: 'SourceSansPro-Regular';
  color: #000d9c !important;
}

.leftBlockDescription {
  font-size: 12px !important;
  font-family: 'SourceSansPro-Regular';
  color: #000000 !important;
  margin-bottom: 18px !important;
}
.leftBlockButton {
  background: '#000D9C 0% 0% no-repeat padding-box';
  margin: 20px !important;
  border-radius: 8px;
}

.rightBlock {
  background: #f0f2ff;
  text-align: center;
}

.rightBlockHeader {
  font-size: 20px;
  font-family: 'SourceSansPro-Regular';
  color: #000d9c;
}
.rightBlockDescription {
  font-size: 12px;
  font-family: 'SourceSansPro-Regular';
  color: #000000;
}

.rightBlockButton {
  background: '#000D9C 0% 0% no-repeat padding-box';
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  border-radius: 8px !important;
}
.pageBlock {
  font-size: 18px;
  line-height: 25px;
  color: $color_ultramarine;
  font-weight: bold;
}

.create-page-form {
  input[type='text']:focus {
    outline: 0 !important;
    box-shadow: none !important;
    border: 1px solid #ced4da;
  }
}

.modal-content .btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background: #000d9c 0% 0% no-repeat padding-box;
  opacity: 0.5;
  cursor: not-allowed;
}

.create-page-form #formPageName.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #1d2fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 13, 156, 0.25) !important;
}
.modal select.form-control {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden !important;
}
.editor-custom-btn {
  padding: 4px 20px;
  font-size: 12px;
}

.template-category-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../../assets/Icons/dropdown_active.svg');
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 1em auto, 100%;
}
.saveTemplate-category-drop {
  position: relative;
  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $black !important;
    height: calc(1.5em + 0.75rem + 2px);
    background-color: $white !important;
    width: 100%;
    text-align: left;
    padding: 0 10px !important;
    font-size: 1rem;
    border: 1px solid $color-link-water;
    border-radius: 4px;
    opacity: 1;
    &:after {
      display: block;
      margin-left: 0;
      content: '';
      border-top: 0.3em solid;
      border-right: 0.3em solid transparent;
      border-bottom: 0;
      border-left: 0.3em solid transparent;
      font-size: 24px;
      position: relative;
      float: right;
    }
    &:hover,
    &:active,
    &:focus {
      color: $black !important;
      background-color: $white !important;
      border: 1px solid $color-link-water !important;
    }
    span {
      width: 95%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .dropdown-menu.show {
    width: 100%;
    background-color: $white;
    max-height: 200px;
    overflow-y: auto;
    a {
      line-height: 18px;
      padding-bottom: 10px;
      &:first-child {
        background-color: $color-link-water;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        &:active {
          color: $black !important;
        }
      }
    }
  }
}
