.custom-modal {
  .modal-dialog {
    min-width: 90vw;
  }
  #modal_header {
    color: #000d9c;
    font-weight: bold;
  }
  .modal-header {
    border-bottom: 0;
    margin: 0 !important;
  }
  .modal-content {
    border-radius: 0.5rem;
    padding: 20px;
    height: 90vh;
    padding-top: 0;
    padding-bottom: 0;
  }
  .modal-footer {
    margin-top: 1%;
  }
}
