@import '../../assets/stylesheets/color';

.dropdown-menu-item {
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  line-height: 1.5;
}

.focus-lock {
  display: contents;
}

.no-caret:after {
  display: none !important;
}

.module-item {
  .item-published {
    border-left: 3px solid $color-lti-publish;

    .item-icon {
      color: $color-lti-publish;
    }
  }

  .item-unpublished {
    border-left: 3px solid transparent;
  }
}

.loree-frame {
  border: solid $color-lti-frame;
  border-width: 0 8px;
  min-height: calc(100% - 102px);
  overflow-y: hidden;
  padding: 15px;
}

.help-section {
  padding: 1px;
  background-color: $color-lti-frame;
  font-size: 12px;
  padding-right: 25px;
  color: $color_dorado;

  p {
    margin: 0;
    color: $color_dorado;
    cursor: pointer;
  }
}

.btn-link {
  color: $black;
  font-weight: bold;
  text-decoration: none;
}

.btn-link:hover {
  color: $black;
  font-weight: bold;
  text-decoration: none;
}

a {
  color: $black;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: $black;
  background-color: transparent;
}

.card-export-button {
  .dropdown-toggle::after {
    display: none !important;
  }
}

.table-page {
  thead th {
    font-size: 1rem;
  }

  font-size: 0.875rem;

  & a:hover {
    color: $color_ultramarine;
    background-color: transparent;
  }
}

.canvasHomeDropdown {
  z-index: 0;
  padding: 20px 0 20px 0;
  background-color: #fff;
  right: 23px;
  left: 23px;
  border-bottom: 1px solid #ccc;

  //canvas list dropdown
  span {
    left: 180px;
    pointer-events: none;
  }

  select {
    -webkit-appearance: none;
    font-family: SourceSansPro-Regular;
    width: 200px;
  }
}

.clickableOrderContent {
  cursor: pointer;
  &:hover {
    color: $color_ultramarine;
  }
}

.pageTheadElement {
  position: sticky;
}

.loree-toast {
  .toast-header {
    background: $color-standard-blue;
    color: $white;
    border-radius: 4px;

    button.close {
      padding: 0;
      color: $white;
      background-color: transparent;
      border: 0;
      opacity: 1;
    }
  }
}

.icon-right-arrow:before {
  transform: rotate(-90deg);
  content: '';
  background-image: url('../../assets/Icons/dropdown_active.svg');
  background-position-y: center;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 3px;
  left: -18px;
}

.icon-down-arrow,
.icon-right-arrow {
  margin-left: 10px;
  position: relative;
}

.icon-down-arrow:before {
  content: '';
  background-image: url('../../assets/Icons/dropdown_active.svg');
  background-position-y: center;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: 10px;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 9px;
  left: -15px;
}

.itemLoader-icon {
  font-size: xx-large;
  margin-left: 50%;
}

.fa-spin {
  animation-duration: 1s;
}

.admin-button {
  border: 1px solid white;
  border-radius: 4px;
  color: #000d9c;
  background-color: #fff;

  &:hover {
    background-color: #fff;
    text-decoration: none;
  }
}

.helpDropdown {
  padding: 0px;
  font-size: 0.7rem;
}

.canvasAddPageTemplateDropdown {
  //canvas list dropdown
  span {
    right: 10%;
    pointer-events: none;
  }

  select {
    -webkit-appearance: none;
    font-family: SourceSansPro-Regular;
  }
}

.canvas-help-menu {
  .btn {
    font-weight: 400;
    padding: 0.2rem 1.5rem;
    text-decoration: none;
    line-height: revert;
  }
}

.editor-help-menu {
  .dropdown-item {
    line-height: revert;
  }
}

.loree-canvas-additem-modal-content-header {
  padding: 20px 20px 7px 20px;

  .modal-title {
    font-size: 18px;
    color: $color_ultramarine;
    height: 25px;
  }

  .modal-content {
    min-height: 465px;
  }
}

.canvas-list-modal-container {
  border: 1px solid #909090;
  border-radius: 8px;
  opacity: 1;
  padding: 10px;
  min-height: 295px;
}

.loree-canvas-image-modal-content-footer button {
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 20px;
  height: 30px;
  border: 1px solid #000d9c;
}

.page-naming-form {
  .form-control {
    width: 75%;
  }
}

.template-search-bar-active,
.pages-search-bar-active {
  fill: $color_ultramarine;
  margin-right: 60px !important;
}

.canvasAddPageTemplateDropdown {
  width: 180px;
  height: 30px;
}

.templates-dropdown {
  height: auto;
  padding: 2px 10px;
}

.module-item-search-bar {
  width: 170px;
  height: 30px;
  padding-right: 30px;
}

.template-grid-item,
.page-grid-item {
  width: 100px;
  height: 100px;
  border: 1px solid #909090;
  border-radius: 4px;
}

.template-grid-text,
.page-grid-text {
  width: 100px;
}

.page-template-rename-container {
  height: 295px;
  overflow-y: auto;
  border: 1px solid #909090;
  border-radius: 4px;
  padding: 10px;
}

.template-grid-container,
.page-grid-container {
  height: 203px;
  overflow-y: auto;
}

.page-grid-active {
  color: $color_ultramarine;

  rect {
    fill: $color_ultramarine;
  }

  text {
    fill: $white;
  }

  .page-grid-item {
    border-color: $color_ultramarine;
  }
}

.textAlignmentCenter {
  text-align: center;
}

.canvas-front-page-button {
  margin: 1px;
  padding: 1px;
  pointer-events: none;
}

.landing-page-list {
  margin-top: 90px;
  height: calc(100vh - 210px);
  overflow-y: auto;
  overflow-x: hidden;
}

.landing-add-btn {
  position: fixed;
  right: 23px;
  z-index: 0;
  margin-top: -75px;
}

.admin-header-h5p-logo {
  max-width: 40px;
}

.canvasTitleWrap {
  word-break: break-all;
}

#loree_navbar_language_dropdown {
  .dropdown-toggle {
    box-shadow: none !important;
  }

  .dropdown-menu {
    border: 1px solid #000d9c;
    min-width: 130px;
    max-height: 115px;
    text-align: center;
    right: auto;
    overflow-y: auto;
    left: 30%;
    top: 100% !important;
    -webkit-transform: translate(-45%, 0) !important;
    -o-transform: translate(-45%, 0) !important;
    transform: translate(-45%, 0) !important;
  }

  .dropdown-menu-editor-alignment {
    left: 65% !important;
  }

  .dropdown-menu::-webkit-scrollbar {
    width: 6px;
    background: #fff;
  }

  .dropdown-menu::-webkit-scrollbar-thumb {
    background: #909090;
    border-radius: 5px;
  }

  .dropdown-menu > a:active {
    color: black;
    background: none !important;
  }

  .dropdown-toggle {
    background: transparent !important;
    border-color: transparent;
    outline: none;

    svg.editorLangIcon {
      width: 25px;
      height: 22px;
      margin-bottom: 0.2rem;
    }

    svg.homePageLangIcon {
      width: 26px;
      height: 26px;
      margin-bottom: 0;
    }

    span {
      display: block;
      font-size: 14px;
    }
    span.editorLabelAlignment {
      font-size: 12px !important;
      margin-top: -0.4rem !important;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown-toggle:hover {
    background-color: #e9e9e9;
  }

  .activeLanguage {
    color: #000d9c;
    font-weight: bold;
  }
}
