.a11yWholeMainSection {
  overflow: hidden;
  height: 100%;
}

.buttons {
  grid-template-columns: auto 1fr auto auto;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-items: start;
  position: relative;
  width: 100%;
}

.impactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  padding: 0;
  background: var(--a11y-service-color-impact);
  border: none;
  border-radius: 999px;
  color: white;
  font-size: 12px;
  font-weight: 900;
  pointer-events: auto;
  margin-right: 10px;
}

.fixedImpactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  padding: 0;
  background: var(--a11y-service-color-impact-fixed);
  border: none;
  border-radius: 999px;
  color: white;
  font-size: 12px;
  font-weight: 900;
  pointer-events: auto;
  margin-right: 10px;
}

.fixedImpact {
  color: var(--a11y-service-color-impact-fixed);
}

.arrowIcon {
  border: unset;
  background: unset;
  padding: unset;
  margin: unset;
}

.navigationIcon path {
  fill: #000000;
}

.navigationIcon:hover path {
  fill: #000d9c;
}

.responsiveSectionDesign,
.responsiveSectionDesign {
  padding: 0px;
}

.responsiveFlexContent {
  height: 100%;
}

.secondSection {
  overflow: auto;
  height: calc(100% - 270px);
}

.reCheckButtonSection {
  grid-template-columns: auto 1fr auto auto;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-items: start;
  padding: 0px;
  padding-bottom: 16px;
}

.divider {
  display: block;
  border: 1px solid #dddddd;
  margin: 20px 5px;
  height: 1px;
}

.closeButton {
  border: unset;
  background: unset;
  padding: unset;
  margin: unset;
  position: absolute;
  top: -1px;
  right: 1px;
  z-index: 5;
}

.headingContent {
  text-align: left;
  font: normal normal 600 18px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.moreInfoLink {
  text-align: left;
  text-decoration: underline;
  letter-spacing: 0px;
  color: #002faf;
  opacity: 1;
  font-style: italic;
}

.loadingText {
  // Add a delay to prevent flashing
  animation: visibility 0s linear 500ms both;
}

.accessibilityImage {
  width: 60px;
  height: auto;
  margin: 20px;
}

.fixedHeadingSection {
  text-align: center;
}

.FindingIssuesImage {
  width: 65px;
  height: auto;
  margin: 20px;
  margin-top: 7px;
}

.noIssueHeading {
  display: flex;
  align-content: baseline;
  justify-content: center;
  margin: 0;
  padding-bottom: 8px;
  line-height: 24px;
  text-align: left;
  font: normal normal 600 18px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #000d9c;
  opacity: 1;
}

.fixedIssuesText {
  margin-bottom: 0px;
  text-align: left;
}

.resultsHeading {
  display: flex;
  align-content: baseline;
  justify-content: normal;
  margin: 0;
  padding-bottom: 8px;
  line-height: 24px;
  text-align: left;
  font: normal normal 600 18px/25px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.loadingHeaderSection {
  justify-content: center;
}

.resultsCount {
  padding-left: 8px;
  padding-right: 5px;
  color: var(--a11y-service-color-black-text);
  font-size: 1.15em;
  text-align: left;
  font: normal normal bold 13px/18px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.impactSummary {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin: 0;
  padding: 10px 0px;
  text-align: center;
  color: #fff;
}

.impactSummaryItem {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 2px;
  padding: 10px;
  background: var(--a11y-service-color-impact);
  box-shadow: 0px 3px 4px #00000029;
  max-width: 138px;

  dt {
    display: flex;
    margin-right: 8px;
    line-height: 16px;
    text-align: left;
    font: normal normal normal 14px/15px Source Sans Pro;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }

  dd {
    margin: 0;
    padding: 0px 7px;
    border-right: 2px solid #fff;
    margin-right: 10px;
    text-align: left;
    font: normal normal bold 18px/20px Source Sans Pro;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
}

.results {
  grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
  grid-column-gap: 16px;
}

.resultsSubHeading {
  margin: 0;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
}

.impact {
  display: flex;
  margin: 0;
  padding-bottom: 8px;

  dt {
    font-weight: bold;
  }

  dd {
    margin-left: 8px;
    text-transform: capitalize;
  }
}

.stepDescription {
  margin: 0;
  padding-bottom: 16px;
  word-wrap: break-word;
}

.details {
  padding-bottom: 16px;
}

.detailsSummary {
  cursor: pointer;
}

.detailsHeading {
  display: inline-block;
  margin: 0;
  line-height: 16px;
  text-align: left;
  font: normal normal 600 16px/20px Source Sans Pro;
  letter-spacing: 0px;
  opacity: 1;
}

.detailsList {
  margin-bottom: 0;
  padding-left: 20px;
}

.severitySection {
  margin: 0 auto;
}

.noIssueSection,
.loadingText {
  text-align: center;
}

@keyframes visibility {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

@media only screen and (min-width: 1275px) {
  .noIssueSection,
  .loadingText {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }

  .responsiveNoWordbreak {
    padding: 0px 20px;
  }
}

@media only screen and (max-width: 1275px) {
  .a11yWholeMainSection {
    overflow: auto;
  }

  .responsiveFlexContent {
    display: inline-flex;
    height: unset;
    width: 100%;
  }

  .responsiveHeight {
    height: 100%;
  }

  .divider {
    display: none;
  }

  .reCheckButtonSection {
    height: 29vh;
  }

  .closeButton {
    right: 30px;
  }

  .results {
    height: 25vh;
    display: block;
  }

  .responsiveSectionDesign {
    padding: 0px 10px;
    border-right: 1px solid #cccccc;
  }

  .impactSummary {
    display: grid;
  }

  .responsiveLastSectionDesign {
    padding: 0px 10px;
  }

  .severitySection {
    flex: 0 0 25%;
    max-width: 100%;
    border: none;
  }

  .descriptionSection {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .responsiveLastSectionDesign {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .secondSection {
    height: auto;
    overflow: inherit;
    display: flex;
    flex: 0 0 75%;
    max-width: 75%;
    border-left: 1px solid #cccccc;
  }

  .responsiveNoWordbreak {
    white-space: nowrap;
  }
}
