.container {
  position: absolute;
}

.highlightContainer {
  pointer-events: none;
  z-index: 1;
  &[data-popper-escaped='true'] {
    visibility: hidden;
    pointer-events: none;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -9px;
  left: -16px;
  width: 16px;
  height: 16px;
  padding: 0;
  background: var(--a11y-service-color-impact);
  border: none;
  border-radius: 999px;
  opacity: 0.5;
  color: white;
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  pointer-events: auto;

  &:hover {
    // Can use this instead of opacity
    // background: var(--a11y-service-color-impact-alt);
    opacity: 1;
  }
}

.active {
  min-width: 16px;
  height: 0;
  pointer-events: none;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    right: -4px;
    left: -4px;
    height: 6px;
    border: 3px solid var(--a11y-service-color-impact);
    border-top: none;
    border-radius: 0 0 8px 8px;
  }

  .button {
    opacity: 1;
    pointer-events: none;
  }
}
