.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

.impactMinor {
  --a11y-service-color-impact: var(--a11y-service-color-impact-minor);
  --a11y-service-color-impact-alt: var(--a11y-service-color-impact-minor-alt);
}

.impactModerate {
  --a11y-service-color-impact: var(--a11y-service-color-impact-moderate);
  --a11y-service-color-impact-alt: var(--a11y-service-color-impact-moderate-alt);
}

.impactSerious {
  --a11y-service-color-impact: var(--a11y-service-color-impact-serious);
  --a11y-service-color-impact-alt: var(--a11y-service-color-impact-serious-alt);
}

.impactCritical {
  --a11y-service-color-impact: var(--a11y-service-color-impact-critical);
  --a11y-service-color-impact-alt: var(--a11y-service-color-impact-critical-alt);
}

.impactFixed {
  --a11y-service-color-impact: var(--a11y-service-color-impact-fixed);
  --a11y-service-color-impact-alt: var(--a11y-service-color-impact-fixed-alt);
}
