.create-project-modal {
  .modal-content {
    border: 1px solid #909090;
    border-radius: 0.5rem;
  }
  .modal-body {
    padding: 0.438rem 1.25rem;
  }
}

.card-export-button {
  .dropdown-toggle::after {
    display: none !important;
  }
}

#dropdown-basic-button {
  background-color: white;
  border-color: white;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #ffffff !important;
}

#dropdown-menu-align-right {
  padding: 0px !important;
  margin: 0px !important;
  border: 0px !important;
}
.noPadding {
  padding: 0px !important;
  border: 0px !important;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.recent-section {
  input.text-primary {
    border: none;
    padding: 0 10px;
    text-align: center;
    font-size: 25px;
  }
}
