/*!
Copyright (c) 20032014-2018, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or https://ckeditor.com/license
*/
.cke_editable.cke_loading a,
.cke_editable.cke_loading img,
.cke_editable.cke_loading.cke_editable_inline.cke_focus {
  cursor: wait;
}
.cke_editable .cke_a11yc_issue {
  outline: 3px solid #ff9f9f;
  background-color: #ffe4e4;
  font-style: italic;
}
.cke_editable .cke_a11yc_issue:hover {
  cursor: pointer;
}
.cke_editable .cke_a11yc_issue.cke_a11yc_notice {
  outline-color: #dcdcdc;
  background-color: #f1f1f1;
}
.cke_editable .cke_a11yc_issue.cke_a11yc_warning {
  outline-color: #ffe4b5;
  background-color: #fffacd;
}
.cke_editable .cke_a11yc_issue.cke_a11yc_error {
  outline-color: #ff9f9f;
  background-color: #ffe4e4;
}
.cke_editable .cke_a11yc_issue.cke_a11yc_ignored {
  outline-color: #dcdcdc;
  background-color: transparent;
}
.cke_editable .cke_a11yc_issue.cke_a11yc_focused:hover {
  cursor: auto;
}
.cke_editable .cke_a11yc_issue.cke_a11yc_focused.cke_a11yc_error,
.cke_editable .cke_a11yc_issue.cke_a11yc_focused.cke_a11yc_warning,
.cke_editable .cke_a11yc_issue.cke_a11yc_focused.cke_a11yc_notice {
  outline-color: #e87b23;
  background-color: #f6d9be;
}
.cke_editable .cke_a11yc_issue.cke_a11yc_focused.cke_a11yc_ignored {
  outline-color: #a9a9a9;
  background-color: transparent;
}
