@import '../../../assets/stylesheets/color';
.admin-side-nav-wrapper {
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ecedef;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .admin-header-logo {
    width: 100px;
    user-select: none;
  }
  .collapseExpandBtn {
    top: 10px;
    right: 10%;
    cursor: pointer;
  }
  .collapsed-header-logo {
    display: none;
  }
  hr {
    width: 80%;
  }
  a {
    text-decoration: none;
  }
  a.active,
  a:hover {
    color: #000d9c;
    border-right: 0.25rem solid $color_ultramarine;
    svg {
      fill: $color_ultramarine;
    }
  }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
}
.admin-side-nav-wrapper.collapsedView {
  .collapseExpandBtn {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    right: 0;
    top: 10px;
  }
  a {
    margin: 0 0 24px 0 !important;
    padding: 0 !important;
    flex-direction: column;
    span {
      font-size: 8px;
      padding-left: 0 !important;
    }
    svg {
      margin: 0 auto;
      width: 30px !important;
      height: 30px !important;
    }
  }
  .collapsed-header-logo {
    display: inline-block;
    margin: 20% auto;
  }
  small {
    font-size: 7px;
  }
  .admin-header-logo {
    display: none;
  }
}
.admin-sidenav-container-fluid {
  max-width: 80px !important;
  .admin-side-nav-wrapper {
    position: relative;
    width: 100%;
  }
}
.admin-main-container-fluid {
  max-width: calc(100% - 80px);
  flex: unset;
}
.admin-h5p-logo {
  max-width: 25px;
  max-height: 20px;
}
