:root {
  // Based off of the "Tailwind New" palette from: https://tailwind.ink/
  --a11y-service-color-gray-display: #a1a1aa;
  --a11y-service-color-gray-text: #71717a;
  --a11y-service-color-black-text: #000000;

  // Warnings
  --a11y-service-color-impact-minor: #b47b00;
  --a11y-service-color-impact-minor-alt: #b47b00;
  --a11y-service-color-impact-moderate: #c15100;
  --a11y-service-color-impact-moderate-alt: #c15100;
  --a11y-service-color-impact-critical: #670002;
  --a11y-service-color-impact-critical-alt: #670002;
  --a11y-service-color-impact-serious: #b90004;
  --a11y-service-color-impact-serious-alt: #b90004;
  --a11y-service-color-impact-fixed: #16a34a;
  --a11y-service-color-impact-fixed-alt: #15803d;
}
