@import '../../assets/stylesheets/color';

@font-face {
  font-family: 'Arial Regular';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Arial.ttf');
}

@font-face {
  font-family: 'Arial Black';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Arial+Black.ttf');
}

@font-face {
  font-family: Arial Bold;
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/arialbd.ttf');
}

@font-face {
  font-family: 'Arial Italic';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Arial+Italic.ttf');
}

@font-face {
  font-family: 'Arial Bold Italic';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Arial+Bold+Italic.ttf');
}

@font-face {
  font-family: 'Brown Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Brown+Bold.ttf');
}

@font-face {
  font-family: 'Brown Light Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/BrownLight+Regular.ttf');
}

@font-face {
  font-family: 'Brown Medium Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/BrownMedium+Regular.ttf');
}

@font-face {
  font-family: 'Nexa Bold';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Nexa+Bold.otf');
}

@font-face {
  font-family: 'Nexa Book';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Nexa-Book.ttf');
}

@font-face {
  font-family: 'Nexa Light';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Nexa+Light.otf');
}

@font-face {
  font-family: 'VIC-Bold';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/VIC-Bold.ttf');
}

@font-face {
  font-family: 'VIC-Italic';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/VIC-Italic.ttf');
}

@font-face {
  font-family: 'VIC-Medium';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/VIC-Medium.ttf');
}

@font-face {
  font-family: 'VIC-MediumItalic';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/VIC-MediumItalic.ttf');
}

@font-face {
  font-family: 'VIC-Regular';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/VIC-Regular.ttf');
}

@font-face {
  font-family: 'VIC-SemiBold';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/VIC-SemiBold.ttf');
}

@font-face {
  font-family: 'DINNextLTProBold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBold.woff');
}

@font-face {
  font-family: 'DINNextLTProBlackItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBlackItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProHeavy';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProHeavy.woff');
}

@font-face {
  font-family: 'DINNextLTProBoldItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBoldItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProHeavyItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProHeavyItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProLight';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProLight.woff');
}

@font-face {
  font-family: 'DINNextLTProLightItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProLightItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProMedium';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProMedium.woff');
}

@font-face {
  font-family: 'DINNextLTProBlack';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBlack.woff');
}

@font-face {
  font-family: 'DINNextLTProMediumItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProMediumItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProRegular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProRegular.woff');
}

@font-face {
  font-family: 'DINNextLTProUltraLight';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProUltraLight.woff');
}

@font-face {
  font-family: 'DINNextLTProUltraLightIt';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProUltraLightIt.woff');
}

@font-face {
  font-family: 'DINNextLTProBoldCondensed';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBoldCondensed.woff');
}

@font-face {
  font-family: 'DINNextLTProMediumCond';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProMediumCond.woff');
}

@font-face {
  font-family: 'Gothic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/GOTHIC.TTF');
}

@font-face {
  font-family: 'Gotham-Book-Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Gotham+Book+Regular.ttf');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Calibri';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/calibri.ttf');
}

@font-face {
  font-family: 'Mont Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Fontfabric+-+Mont+Bold.otf');
}

@font-face {
  font-family: 'Mont Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Fontfabric+-+Mont+Regular.otf');
}

/*  ACF fonts  */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: 'HelveticaNeueBoldItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-BoldItalic-04.ttf');
}

@font-face {
  font-family: 'HelveticaNeueCondensedBlack';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-CondensedBlack-10.ttf');
}

@font-face {
  font-family: 'HelveticaNeueCondensedBold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-CondensedBold-05.ttf');
}

@font-face {
  font-family: 'HelveticaNeueItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Italic-03.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Light-08.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLightItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-LightItalic-09.ttf');
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Medium-11.ttf');
}

@font-face {
  font-family: 'HelveticaNeueMediumItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-MediumItalic-12.ttf');
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Thin-13.ttf');
}

@font-face {
  font-family: 'HelveticaNeueThinItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-ThinItalic-14.ttf');
}

@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-UltraLight-06.ttf');
}

@font-face {
  font-family: 'HelveticaNeueUltraLightItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-UltraLightItalic-07.ttf');
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Bold-02.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Calibrib';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/CALIBRIB.TTF');
}

@font-face {
  font-family: 'Acronym Light';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Acronym-Light.otf');
}

@font-face {
  font-family: 'IVYPRESTO DISPLAY LIGHT';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/IVYPRESTO+DISPLAY+LIGHT.OTF');
}

@font-face {
  font-family: 'IVYPRESTO DISPLAY LIGHT ITALIC';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/IVYPRESTO+DISPLAY+LIGHT+ITALIC.OTF');
}

/*  Proxima fonts  */
@font-face {
  font-family: 'Proxima Nova Alt Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Proxima+Nova+Alt+Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Proxima+Nova+Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Proxima+Nova+Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova-Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: 'Lato Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato Bold Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Lato-BoldItalic.ttf');
}

@font-face {
  font-family: 'Brush Script MT';
  src: url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.eot');
  src: url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.svg#Brush Script MT')
      format('svg');
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot');
  src: url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS')
      format('svg');
}

@font-face {
  font-family: 'Courier';
  src: url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.eot');
  src: url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.svg#Courier')
      format('svg');
}

@font-face {
  font-family: 'Georgia';
  src: url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.eot');
  src: url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.svg#Georgia')
      format('svg');
}

@font-face {
  font-family: 'Lucida Sans Unicode';
  src: url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.eot');
  src: url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.svg#Lucida Sans Unicode')
      format('svg');
}

@font-face {
  font-family: 'Verdana';
  src: url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.eot');
  src: url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.svg#Verdana')
      format('svg');
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.eot');
  src: url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.svg#Trebuchet MS')
      format('svg');
}

@font-face {
  font-family: 'Impact';
  src: url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.eot');
  src: url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.svg#Impact LT Std')
      format('svg');
}

@font-face {
  font-family: 'Tahoma';
  src: url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.eot');
  src: url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.svg#Tahoma') format('svg');
}

@font-face {
  font-family: 'Mont Semi Bold';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+SemiBold.ttf");
}

@font-face {
  font-family: 'Mont Thin';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Thin.ttf");
}

@font-face {
  font-family: 'Mont Heavy';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Heavy.ttf");
}

@font-face {
  font-family: 'Mont Semi Bold Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+SemiBold+Italic.otf");
}

@font-face {
  font-family: 'Mont Extra Light Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+ExtraLight+Italic.otf");
}

@font-face {
  font-family: 'Mont Light';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Light.ttf");
}

@font-face {
  font-family: 'Mont Extra Light';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+ExtraLight.ttf");
}

@font-face {
  font-family: 'Mont Black';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Black.ttf");
}

@font-face {
  font-family: 'Mont Book';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book.ttf");
}

@font-face {
  font-family: 'Mont Heavy DEMO';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Heavy+DEMO.otf");
}

@font-face {
  font-family: 'Mont Thin Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Light+Italic.otf");
}

@font-face {
  font-family: 'Mont Bold Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Bold+Italic.otf");
}

@font-face {
  font-family: 'Mont Extra Light DEMO';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+ExtraLight+DEMO.otf");
}

@font-face {
  font-family: 'Mont Heavy Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Heavy+Italic.otf");
}

@font-face {
  font-family: 'Mont Regular Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Regular+Italic.otf");
}

@font-face {
  font-family: 'Mont Hairline';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Hairline.otf");
}

@font-face {
  font-family: 'Mont Hairline Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Hairline+Italic.otf");
}

@font-face {
  font-family: 'Mont Black Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Black+Italic.otf");
}

@font-face {
  font-family: 'Mont Book Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book+Italic.otf");
}

@font-face {
  font-family: 'Mont Light Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book+Italic.otf");
}

/* NB Akademie Fonts */
@font-face {
  font-family: 'NB Akademie Std Black Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Black+Italic.otf');
}

@font-face {
  font-family: 'NB Akademie Std Black';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Black.otf');
}

@font-face {
  font-family: 'NB Akademie Std Bold Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Bold+Italic.otf');
}

@font-face {
  font-family: 'NB Akademie Std Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Bold.otf');
}

@font-face {
  font-family: 'NB Akademie Std Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Italic.otf');
}

@font-face {
  font-family: 'NB Akademie Std Light';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Light.otf');
}

@font-face {
  font-family: 'NB Akademie Std Medium Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Medium+Italic.otf');
}

@font-face {
  font-family: 'NB Akademie Std Medium';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Medium.otf');
}

@font-face {
  font-family: 'NB Akademie Std Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Regular.otf');
}

@font-face {
  font-family: 'NB Akademie Std Light Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Light+Italic.otf');
}

/* NB International Fonts */
@font-face {
  font-family: 'NB International Pro Bold Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Bold+Italic.otf');
}

@font-face {
  font-family: 'NB International Pro Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Bold.otf');
}

@font-face {
  font-family: 'NB International Pro Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Italic.otf');
}

@font-face {
  font-family: 'NB International Pro Light Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Light+Italic.otf');
}

@font-face {
  font-family: 'NB International Pro Light';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Light.otf');
}

@font-face {
  font-family: 'NB International Pro Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Regular.otf');
}

.admin-accordion {
  .card {
    margin-bottom: 1.5rem;
  }

  .card:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem !important;
  }

  .card.active {
    border-color: #000d9c !important;

    .card-header {
      color: #000d9c;
      background-color: #fff !important;
    }
  }

  .card-header {
    cursor: pointer;
  }

  .right-actions {
    float: right !important;
  }

  .card:not(:first-of-type) {
    border-radius: 0.25rem !important;
  }
}

.admin-table {
  background: #eee;
  border: 9px solid #fff;

  td {
    padding: 8px;
  }
}

.h5p-tab-section {
  height: 300px;
  overflow-y: auto;
}

.h5p-table-head {
  input {
    margin-left: -28px !important;
  }

  th {
    font-size: large;
  }
}

.h5pTextWrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 170px;
}

.h5p-admin-table {
  td {
    padding: 4px;
  }

  .card {
    border: none;
    cursor: pointer;
  }

  .icon-right-arrow:before {
    transform: rotate(-90deg);
    content: '';
    background-image: url('../../assets/Icons/dropdown_active.svg');
    background-position-y: center;
    margin-left: 1px;
    background-repeat: no-repeat;
    background-size: 10px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: -18px;
  }

  .icon-down-arrow:before {
    content: '';
    background-image: url('../../assets/Icons/dropdown_active.svg');
    background-position-y: center;
    margin-left: 8px;
    background-repeat: no-repeat;
    background-size: 10px;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: -19px;
  }

  .edit-meta-data-icon {
    height: 13px;

    button {
      background-color: transparent !important;
      height: inherit;
      position: relative;
      bottom: 8px;
    }
  }
}

.overflowText {
  max-width: 30px;
}

.admin-header-right {
  h2 {
    font-size: 30px;
    line-height: 36px;
  }
}

//Dropdown common styles
.my-templates-wrapper {
  .form-group {
    margin-bottom: 0;
    position: relative;

    select.form-control {
      -webkit-appearance: none;
      width: 140px;
      border: 1px solid $dim-grey;
      border-radius: 4px;
      outline: none;
      color: $black;
      font-size: 12px;
      cursor: pointer;

      &:focus {
        box-shadow: none;
      }
    }

    select:disabled {
      cursor: default;
    }

    select#categoryfilter,
    #clientFilter {
      overflow: hidden !important;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.375rem 1.5rem 0.375rem 0.75rem;
    }

    .arrow-down {
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid $color_dorado;
      position: absolute;
      top: 38%;
      right: 6%;
      pointer-events: none;
    }
  }

  .admin-accordion {
    .form-group {
      select.form-control {
        -webkit-appearance: auto;
      }
    }
  }
}

.d2l-landing-dashboard.accordion {
  max-height: 69vh;
  padding: 0 10px;
  overflow-y: auto;

  .card {
    overflow: visible;
    border: 0;

    .card-header {
      border-radius: 8px;
      margin-bottom: 0;
      background-color: $white;
      border: 1px solid $black;
      cursor: default;
    }

    .card-body {
      .hierarchy-sub-level {
        padding-left: 1.5rem;

        .d2l-landing-dashboard.accordion {
          padding: 0;
        }

        .list-group-item {
          border: 0;
          padding: 0.75rem;
        }
      }
    }
  }
}

#external-tool-config {
  .cancel-button {
    background-color: transparent;
    color: $color_ultramarine;
  }
}

.add-external-tool-button {
  margin-bottom: '20px';
  background-color: $color_ultramarine;
}

.external-tool-support-note {
  font-size: 14px;
}

#adminMainExpanded {
  input[type='checkbox'] {
    display: flex !important;
  }
}
