@import '../../assets/stylesheets/color';
.recent-section {
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  .recent-column-heading {
    color: #000d9c;
  }
}
.recent-section {
  @media (min-width: 768px) {
    padding-right: 1.1rem;
    padding-left: 13.8rem;
  }
  @media (min-width: 1280px) {
    padding-right: 2.1rem;
    padding-left: 15.5rem;
  }
}

@mixin recent-card-overlay-buttons {
  .card-open-button {
    transform: translate(70%, -130%);
  }
  .card-export-button {
    transform: translate(-45%, 10%);
  }
}

@media (min-width: 768px) and (max-width: 890px) {
  @include recent-card-overlay-buttons();
}
@media (min-width: 992px) and (max-width: 1100px) {
  @include recent-card-overlay-buttons();
}

.recent-section-cards {
  .recent-card-img {
    padding: 23px 20px 23px 20px;
    cursor: pointer;
  }
  .row .recent-card-list {
    background: #f7f7f7 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 8px;
    border: 1px solid #f7f7f7;
  }
  .card-export-button {
    height: 13px;
    button {
      background-color: transparent !important;
      height: inherit;
      position: relative;
      bottom: 8px;
    }
  }
  a {
    height: 100%;
    width: 100%;
  }
}

.project-element {
  padding: 25px 0 26px 0;
  a {
    text-decoration: none;
  }
  div {
    font-size: 16px;
    margin-bottom: 0 !important;
    height: 22px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.recent-section-cards .col-lg-3 .mt-3 {
  margin-top: 0 !important;
}

.recent-style {
  padding-bottom: 16px;

  .recent-block {
    font-size: 24px;
    height: 35px;

    span {
      margin-left: 0 !important;
    }
  }
}
.recent-column-icons {
  .search {
    border: 0;
    outline: none;
    border-bottom: 1px solid $color_gray;
    transition: width 0.7s cubic-bezier(0, 0.795, 0, 1);
    font-size: 1rem;
    padding-right: 2.5rem;
    width: 250px;
  }
  .search-icon-normal {
    position: absolute;
    right: 85%;
    top: 30%;
    &:hover {
      fill: $color_ultramarine;
    }
  }
  .search-icon {
    position: absolute;
    right: 17%;
    top: 44%;
  }
  @media (max-width: 400px) {
    .search {
      width: 150px;
      padding-right: 1.25rem;
    }
    .search-icon {
      position: absolute;
      right: 21%;
      top: 21%;
    }
  }
  .search-icon,
  .search-icon-normal,
  .filter-icon:hover {
    cursor: pointer;
  }
  .iconActive {
    fill: #000d9c;
  }
}
//original selectors
//.filter-container-layout .dropdown-layout >.btn-primary.dropdown-toggle, .filter-container-layout .dropdown-layout.show >.btn-primary.dropdown-toggle
%dropdown-toggle {
  color: $black;
  background-color: $white;
  width: 200px;
  text-align: left;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid $color_gray;
  border-radius: 4px;
  opacity: 1;
}

//original selectors
//#global-filter-container input[type=checkbox] +label:after, #global-filter-container input[type=checkbox] +label:before, #global-filter-container input[type=checkbox]:checked +label:after, #global-filter-container input[type=checkbox]:checked +label:before
%checkbox-style {
  border-radius: 2px;
  opacity: 1;
  width: 10px;
  height: 10px;
  cursor: pointer;
  top: 5px;
  border: 1px solid $color_dorado;
}

.filter-container-layout {
  display: none;
  width: 100%;
  background: $white none no-repeat scroll 0 0 padding-box;
  border: 1px solid $color_ultramarine;
  border-radius: 8px;
  position: absolute;
  z-index: 1;
  padding: 20px;
  &.show {
    display: block;
  }
  .dropdown-layout {
    > .btn-primary {
      &.dropdown-toggle {
        @extend %dropdown-toggle;
      }
      &.dropdown-toggle::after {
        display: block;
        margin-left: 0;
        content: '';
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        font-size: 24px;
        position: relative;
        top: 5px;
        float: right;
      }
      &:not(:disabled):not(.disabled):active {
        color: $black;
        background-color: $white;
        border: 1px solid $color_gray;
      }
    }
    &.show > {
      .btn-primary.dropdown-toggle {
        @extend %dropdown-toggle;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: transparent;
        box-shadow: 2px 4px 2px #00000029 !important;
      }
      .dropdown-menu.show {
        border-radius: 0 0 4px 4px; /* top left, top right, bottom right, bottom left */
        border: 1px solid $color_gray;
        width: 200px;
        transform: translate3d(0px, 29px, 0) !important;
        font-size: 14px;
        opacity: 1;
        box-shadow: 2px 4px 2px #00000029;
        > .dropdown-item {
          padding: 5px 10px;
          color: $black;
        }
        > .dropdown-item:hover {
          color: $black;
          font-weight: 600;
          text-decoration: none;
          background-color: transparent;
        }
        > .dropdown-item.active {
          color: $color_ultramarine;
          font-weight: 600;
          text-decoration: none;
          background-color: transparent;
        }
      }
    }
  }
}
#global-filter-container {
  input[type='checkbox'] {
    + label {
      &:after {
        @extend %checkbox-style;
      }
      &:before {
        @extend %checkbox-style;
      }
    }
    &:checked + label {
      &:after {
        @extend %checkbox-style;
        background-color: $color_dorado;
      }
      &:before {
        @extend %checkbox-style;
      }
    }
  }
  button {
    font-size: 14px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
    &.btn-link {
      letter-spacing: 0;
      color: $color_ultramarine;
      opacity: 1;
    }
  }
  .d-flex div {
    margin-right: 20px;
    &.category-divider {
      width: 1px;
      background: $color_dorado 0 0 no-repeat padding-box;
      border: 1px solid $color_alto;
      opacity: 1;
    }
  }
  div.d-flex:last-child {
    float: right;
    button {
      margin-left: 10px;
    }
  }
  form .form-group {
    margin: 0;
    .filter-custom-checkbox {
      min-height: 20px;
      height: 20px;
    }
    label.form-label {
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0;
      color: $color_ultramarine;
      opacity: 1;
      margin: 0;
      height: 17px;
      position: relative;
      bottom: 5px;
    }
  }
  .category-title {
    margin-bottom: 20px;
    font-size: 16px;
    color: $black;
  }
}
.session-divider {
  margin: 20px 0;
  height: 1px;
  background: $color_dorado 0 0 no-repeat padding-box;
  border: 1px solid $color_alto;
  opacity: 1;
}
button:focus,
#global-filter-container:focus,
input[type='checkbox']:focus + label::before,
.recent-card-list .card-export-button button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.filter-custom-checkbox label {
  font-size: 14px;
}
#global-filter-container.filter-container-layout.show {
  box-shadow: #00000029 2px 4px 2px !important;
}
.category-divider form {
  margin-left: 40px;
}
.filter-custom-checkbox > .custom-control-label::after {
  background: no-repeat 50% / 85% 85%;
}

//original selectors
//.fa-ellipsis-v, .export-icon
%icon-property {
  fill: $color_dorado;
  position: relative;
  bottom: inherit;
}
.fa-ellipsis-v {
  @extend %icon-property;
}
.export-icon {
  @extend %icon-property;
}
.card-container:hover {
  .recent-card-list {
    border: 1px solid $color_ultramarine;
  }
  .project-element div {
    color: $color_ultramarine;
  }
}
.recent-card-list div.d-flex {
  padding-top: 10px;
  .ellipsis-icon {
    margin: 0 10px;
  }
}
.card-export-button .dropdown-menu.show {
  background: $white 0 0 no-repeat padding-box;
  border: 1px solid $color_dorado;
  border-radius: 4px;
  opacity: 1;
  min-width: 100px;
  a {
    padding: 5px 10px;
    font-size: 14px;
  }
}
.card-export-button.show button.dropdown-toggle {
  .fa-ellipsis-v {
    fill: $color_ultramarine;
  }
  .export-icon {
    fill: $color_ultramarine;
  }
}

.profile-modal {
  width: 17.5rem;
  list-style: none;
  background-color: #fff;
  padding: 1.5rem;
  position: absolute;
  top: 45%;
  left: 14%;
  z-index: 100;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  box-shadow: 10px 10px 5px -3px #d8d8d8;
  a {
    color: #000 !important;
    text-decoration: none;
  }
  div {
    margin: 0% 0% 7% 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;
  }
  img {
    position: absolute;
  }
  .nav-link {
    padding: 0;
  }
}

.profession-modal {
  .modal-dialog {
    max-width: 900px;
  }
  .profession-list {
    padding: 20px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    margin-top: 10px;
  }
}

.profession-header {
  color: $color_ultramarine;
  font-weight: bold;
}
