.card-color-view {
  border: 1px solid transparent;
  padding-bottom: 10px;
  padding-right: 0;
  .btn-delete {
    opacity: 0;
  }
  &:hover {
    border: 1px solid #000d9c;
    border-radius: 4px;
    .btn-delete {
      opacity: 1;
    }
  }
}
.custom-links-color-pickr {
  .pcr-button {
    height: calc(1.5em + 0.75rem + 2px);
  }
}
