.save-icon-wrapper {
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.save-icon-wrapper svg {
  width: 24px;
  height: 24px;
}

.save-icon-wrapper .save-icon {
  background-color: #1c1c1c;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.save-icon-wrapper .save-icon svg {
  fill: #ffffff;
}

.save-icon-wrapper .save-options {
  bottom: 120%;
  display: none;
  left: -16%;
  background-color: #fff;
  z-index: 1000;
}

.save-icon-wrapper .save-options .save-options-list {
  border: 1px solid #000d9c;
  border-radius: 4px;
}

.save-icon-wrapper .save-options .save-options-list div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.save-icon-wrapper .save-options .save-options-list svg {
  width: 25px;
  height: 25px;
}

.save-icon-wrapper .save-options .save-options-list svg {
  fill: #000000;
  &:hover {
    fill: #000d9c;
    cursor: pointer;
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.save-icon-show {
  display: block !important;
}

.save-add-margin {
  margin-left: 202px;
}

.editor-tooltip {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
}
.tooltip > .tooltip-inner {
  background-color: #fff;
  border: 1px solid #000d9c;
  color: #000d9c;
  margin-bottom: 6px;
  font-size: 12px;
}
.tooltip .arrow {
  display: none;
}

.move-margin {
  margin-left: 202px;
}

.save-loader {
  display: flex;
  top: 78px;
  width: 100%;
  z-index: 1031;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
}

.save-loader .icon {
  display: inline-flex;
}

.save-loader .saving-loader-block {
  background-color: #1c1c1c;
  border-radius: 5px;
}

.save-loader .title {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.save-template-footer-section-cancel-btn {
  background-color: #fff;
  color: #000d9c;
}

.lms-loader-folder-icon-global {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}
.lms-loader-folder-icon {
  position: absolute;
  right: 48%;
  top: 16%;
}

.modal-dialog {
  .modal-header {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0;
    padding-right: 0;
  }
  .modal-footer {
    border-top: 0;
    padding-top: 0;
  }
}

.a11yCheckerInfo {
  text-align: center;
  font: normal normal normal 12px/13px Source Sans Pro;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  line-height: 17px;
}

.loree-space-poweredBy {
  width: 100%;
  height: 25px;
  position: fixed;
  font-size: 10px;
  background-color: #e9e9e9;
  left: 9px;
  bottom: 0;

  .powered-by-footer-section {
    position: absolute;
    right: 28px;
    bottom: -13px;
    font-size: 10px;
    margin: auto;
    span {
      font-weight: bold;
    }
  }
}
