.dashboard-header-layout {  
  background-color:#ffffff;
  padding-left: 0;
  .dashboard-welcome-user {
    display: flex;
    flex-direction: column;
  }  
  #dashboard-create-project, #dashboard-create-page {
    border: 0.063rem solid #f0f2ff;
    background-color: #F0F2FF;
    border-radius: 0.625rem;
    color: #000000;
    &:hover {
      background-color: #000D9C;
      color:#ffffff;
      cursor: pointer;
      .iconActive {
        fill:#ffffff;
      }
    }
  }
}

@media (max-width: 767px) {
  .dashboard-header-layout {
    .nav-wrapper {
      flex-direction: column;
    }
  }
}
