@import '../../assets/stylesheets/color';
.file-upload-alert-wrapper,
.editor-alert-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  justify-content: center;
  align-items: center;
}
.file-upload-alert {
  background-color: #ffffff;
  padding: 0px;
}

.alert-btn {
  width: 56px;
  height: 30px;
  border: 1px solid #000d9c;
  border-radius: 8px;
  opacity: 1;
  background: #ffffff;
}

.alert-btn:hover {
  width: 56px;
  height: 30px;
  border: 1px solid #000d9c;
  border-radius: 8px;
  opacity: 1;
  color: white;
  background: #000d9c 0% 0% no-repeat padding-box;
}

.confirm-header-text {
  color: #000d9c;
}
.editor-alert-modal {
  .modal-content {
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    .modal-header {
      .btn-icon {
        position: relative;
        bottom: 10px;
        left: 5px;
        cursor: pointer;
      }
      svg {
        fill: $close-fill;
        width: 10px;
        height: 10px;
        &:hover {
          fill: $black;
        }
      }
    }
    h4 {
      font-size: 18px;
      line-height: 25px;
      color: $color_ultramarine;
    }
    .editor-modal-statement {
      color: $black;
    }
  }
  .modal-footer {
    button {
      font-size: 12px;
      line-height: 20px;
      font-weight: bold;
      border-radius: 4px;
      padding: 4px 15px;
      background-color: $white;
      color: $color_ultramarine;
      border: 1px solid $color_ultramarine;
      &:hover {
        background-color: $color_ultramarine;
        color: $white;
      }
    }
  }
}

//Reusable Custom Radio styles
.custom-radio-group {
  [type='radio']:checked,
  [type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type='radio']:checked + label,
  [type='radio']:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    color: $black;
  }
  [type='radio']:checked + label:before,
  [type='radio']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 24%;
    width: 16px;
    height: 16px;
    border: 1px solid $color_dorado;
    border-radius: 100%;
    background: $white;
  }
  [type='radio']:checked + label:after,
  [type='radio']:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $color_dorado;
    position: absolute;
    top: 37%;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type='radio']:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type='radio']:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

//Upload Progress Block Styles
.upload-progress-block-wrapper {
  border: 1px solid $color_ultramarine;
  border-radius: 4px;
  background-color: $white;
  left: 0;
  right: 0;
  top: 36px;
  z-index: 2000;
  transition: all 0.2s linear 0s;
  .upload-progress-header {
    cursor: pointer;
    padding: 10px;
  }
  .upload-progress-header-left {
    .upload-progress-label {
      font-size: 0.9rem;
      color: $color_ultramarine;
    }
    svg {
      width: 20px;
      height: 20px;
      stroke: $black;
      animation: rotating 2s linear infinite;
    }
  }
  ul.upload-progress-content {
    border-top: 1px solid $color_gray;
    list-style-type: none;
    max-height: 150px;
    overflow: auto;
    .uploading-item {
      display: flex;
      flex-direction: column;
      &:last-child {
        margin-bottom: 0 !important;
      }
      svg {
        width: 15px;
        height: 15px;
        cursor: pointer;
      }
    }
    .uploading-item-label {
      color: $color_dorado;
      font-size: 12px;
      line-height: 15px;
    }
    .upload-percent {
      font-size: 10px;
      color: $color_dorado;
      margin-top: -5px;
      width: 94%;
    }
  }

  .progress {
    width: 92%;
    height: 0.14rem;
    background-color: $color_gainsboro;
    .progress-bar {
      background-color: $color_dorado;
    }
  }
}

//Reusable Caret arrows
.editor-caret {
  border: solid $color_ultramarine;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transition: all 0.2s linear 0s;
}

.right-caret {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.down-caret {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.upload-popUp-margin {
  left: 202px;
}

//Success Message styles
.custom-success-container {
  background-color: $color-standard-blue;
  color: $white;
  font-size: 0.7rem;
  z-index: 2000;
  left: 0;
  right: 0;
  top: 12px;
  width: 220px;
  border-radius: 4px;
  transition: all 2s ease-in-out;
}
.custom-success-container.alert-content-changed {
  .custom-saved {
    display: inline-block;
  }
  .custom-added {
    display: inline-block;
  }
}

.new-page-alert-container {
  background-color: $color-standard-blue;
  color: $white;
  font-size: 0.7rem;
  z-index: 2000;
  margin-right: 1rem;
  right: 0;
  top: 55px;
  width: 300px;
  border-radius: 4px;
  .existing-page-saved {
    display: none;
  }
  .new-page-alert-close {
    svg {
      fill: $white;
      width: 5px;
      height: 5px;
      cursor: pointer;
    }
  }
}
.new-page-alert-container.alert-content-changed {
  .existing-page-saved {
    display: inline-block;
  }
  .new-page-created {
    display: none;
  }
}

.textBoxQuickFix {
  border-radius: 4px;
  border: 1px solid #aaa;
  display: block;
  width: 80%;
  margin-top: 10px;
}

.textBoxQuickFix:focus,
.textBoxQuickFix:focus-visible {
  border-color: #000d9c;
  outline: none !important;
}

.alert-button {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 15px;
  background-color: $white;
  border: 1px solid $color_ultramarine;
  background-color: $color_ultramarine;
  color: $white;
  margin-right: 7px;
}

.a11y-image-alt {
  display: block;
}

.modal-footer-button {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 15px;
  background-color: $white;
  color: $color_ultramarine;
  border: 1px solid $color_ultramarine;
  &:hover {
    background-color: $color_ultramarine;
    color: $white;
  }
}
.modal-footer-create-button {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 15px;
}

.modal-header {
  padding: 1rem 1rem 0.5rem 1rem;
}

// Custom elements alert
.custom-element-alert-container {
  background-color: $color-standard-blue;
  font-family: 'Source Sans Pro';
  color: $white;
  font-size: 0.9rem;
  z-index: 2000;
  left: 0;
  right: 0;
  border-radius: 4px;
  transition: all 2s ease-in-out;
  top: 30px;
}
#loree-view-code-modal-edit-alert {
  p {
    margin-bottom: 0;
    &:last-child {
      font-size: 14px;
      font-style: italic;
    }
  }
}
