@import '../../assets/stylesheets/color';

//fonts
$font_0: Source Sans Pro;
$font_1: sans-serif;

.banner-image-modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;

  .banner-image-modal-content {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #909090;
    padding: 0 20px;

    .banner-image-modal-content-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
      border-bottom: 1px solid #d8d8d8;

      .banner-image-modal-content-header-title {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: $color_ultramarine;
        font-size: 18px;
        font-weight: bold;
      }

      .banner-image-modal-content-header-close {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
        background-color: transparent;
        border: none;

        svg {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .banner-image-modal-content-body {
      padding: 10px 0;

      .banner-image-modal-content-body-message {
        font-family: $font_0, $font_1;
        font-size: 14px;
      }

      .banner-image-modal-content-body-image-section {
        display: flex;
        position: relative;
        height: 100%;
        width: 100%;
        max-height: 500px;

        img {
          display: flex;
          height: auto;
          width: auto;
          max-width: 100%;
          max-height: 100%;
          margin: auto;
        }

        .banner-image-modal-highlighter {
          display: inline-flex;
          position: absolute;
          height: 108px;
          width: 100%;
          border: 3px dashed $color_ultramarine;
        }
      }

      .banner-image-modal-content-body-option-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        .option {
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          background-color: #ffffff;
          font-family: $font_0, $font_1;
          color: $color_ultramarine;
          border: 1px solid $color_ultramarine;
          border-radius: 4px;
          margin: 4px 0;
          font-size: 12px;
          padding: 6px 4px;
          &:hover {
            background-color: $color_ultramarine;
            color: $white;
          }
        }

        .option.active {
          color: #ffffff;
          background-color: $color_ultramarine;
        }
      }
    }

    .banner-image-modal-content-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0;

      .option {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 5px 10px;
        margin: 5px;
        border: 0;
        font-family: $font_0, $font_1;
        font-size: 12px;
        border-radius: 4px;
        &:hover {
          background-color: $color_ultramarine;
          color: $white;
        }
      }

      .primary {
        background-color: #ffffff;
        border: 1px solid $color_ultramarine;
        color: $color_ultramarine;
      }

      .secondary {
        background-color: $color_ultramarine;
        border: 1px solid $color_ultramarine;
        color: #ffffff;
      }
    }
  }
}
