.loree-custom-block-backdrop {
  background: #000 0 0 no-repeat padding-box;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1500;
  position: fixed;
  top: 0;
}

#loree-custom-block-modal-wrapper,
#loree-custom-block-delete-modal-wrapper,
#loree-custom-block-edit-modal-wrapper {
  z-index: 1501;
  display: block;
}

#loree-custom-block-modal-content {
  width: 280px;
}

#loree-custom-block-delete-modal-content,
#loree-custom-block-edit-modal-content {
  width: 430px;
}
#loree-space-help-icon-button[aria-expanded='true'] {
  color: #000d9c;
}

#loree-custom-block-modal-container,
#loree-custom-block-delete-modal-container,
#loree-custom-block-edit-modal-container {
  border-radius: 0.5rem;
  padding: 20px;
}

#loree-custom-block-modal-header,
#loree-custom-block-delete-modal-header,
#loree-custom-block-edit-modal-header {
  border-bottom: 0px;
}

#loree-custom-block-modal-title,
#loree-custom-block-delete-modal-title,
#loree-custom-block-edit-modal-title {
  color: #000d9c;
}

#loree-custom-block-category-dropdown {
  width: 100%;
  border: 1px solid #ced4da;
  text-align: left;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:focus {
    border-color: #1d2fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 13, 156, 0.25) !important;
  }
}

#loree-sidebar-custom-row-category-list-wrapper,
#loree-sidebar-custom-elements-category-list-wrapper,
#loree-sidebar-custom-template-category-list-wrapper {
  max-height: 150px;
  overflow-x: auto;
}

#loree-custom-block-category-dropdown::after,
#loree-custom-block-category-dropdown-item ::after {
  float: right;
  position: absolute;
  top: 16px;
  right: 8px;
  font-size: 1.4rem;
}

#loree-custom-block-category-dropdown-item {
  max-height: 200px;
  overflow: auto;
  width: 100%;
  border: 1px solid #ced4da;
  text-align: left;
}

.loree-custom-block-section-divider {
  border-top: 1px solid #ced4da;
  margin: 10px 0px;
}

#loree-custom-block-modal-footer,
#loree-custom-block-delete-modal-footer,
#loree-custom-block-edit-modal-footer {
  padding: 0 20px 0px;
  width: 100%;

  button {
    border-radius: 4px;
    color: $color_ultramarine;
    background-color: $white;
    font-size: 12px;
    padding: 4px 20px;
    height: 30px;
    border: 1px solid $color_ultramarine;
    margin: 0px 5px;

    &.ok-button {
      color: $white;
      background-color: $color_ultramarine;
      border-color: $color_ultramarine;

      &:disabled {
        @extend %disable;
      }
    }

    &.ok-button[disabled] {
      @extend %disable;
    }
  }
}

.custom-blocks-thumbnail {
  width: 160px;
  height: 75px;
  margin-left: 10px;
}

.custom-blocks-thumbnail-row,
.custom-blocks-thumbnail-template {
  width: 135px;
  height: 75px;
  padding-left: 13px;
}

.custom-blocks-thumbnail-element {
  width: 160px;
  height: 75px;
}

.loree-sidebar-custom-block-thumbnail {
  width: 100%;
  height: 75px;
  border: 1px solid #d8d8d8;
}

.custom-block-title {
  width: 135px;
  font-size: 12px;
  text-align: center;
  padding-left: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-block-title-name {
  margin-bottom: 20px;
}

.custom-block-thumbnail:hover {
  .loree-sidebar-custom-block-thumbnail {
    border: 1px solid #000d9c;
  }

  p {
    color: #000d9c;
  }
}

#loree-sidebar-custom-block-menu-wrapper > .dropdown-toggle::after {
  border: 0;
  display: none;
}

.custom-block-menu-btn {
  position: absolute;
  top: -7px;
  right: -6px;
}

.custom-block-thumnail-dropdown-menu {
  margin-left: -32px;
  margin-top: -11px;
  min-width: auto;
  padding: 4px 8px;
}

.custom-block-thumbnail-menu-option {
  font-size: 12px;
  cursor: pointer;
}

.loree-custom-block-no-results {
  font-size: 14px;
}

#category-selection-more {
  color: #007bff;
  text-decoration: underline;
  display: block;
  margin-left: 8px;
}

.update-info-icon {
  svg {
    margin-bottom: 1rem;
    width: 15px;
    height: 18px;

    path {
      fill: #0c5460;
    }
  }
}

.custom-scrollbar {
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #909090;
  border-radius: 20px;
}

.sectionLabel {
  font-size: 14px;
  cursor: pointer;
}

.sectionLabel.d-block {
  display: inline-block !important;
}

.sectionLabel {
  font-size: 1rem;
}

.accordion .sectionLabel[aria-expanded='true'] {
  color: $color_ultramarine;

  span {
    color: $color_ultramarine;
  }

  .accordion-icon {
    border-color: $color_ultramarine;
    color: $color_ultramarine;
  }
}

.morecontent_quicklink {
  border: 0px solid #fff;
  background-color: transparent;
  color: $color_ultramarine;
  text-decoration: underline;
  padding: 0px;
}

.accordion .accordion-icon .sectionLabel[aria-expanded='true'] {
  color: $color_ultramarine;

  .accordion-icon {
    border-color: $color_ultramarine;
  }
}

.accordion {
  .panel {
    hr {
      margin-top: 0;
    }
  }
}

.shared-loader-folder-icon {
  position: absolute;
  right: 46%;
  top: 25%;
}

.shared-account-modal {
  .subaccount-list {
    max-height: 300px;
    overflow-y: auto;
  }
}

.custom-block-delete-note {
  font-size: 14px;
}

#loree-custom-block-edit-modal-footer-cancel-button,
#loree-custom-block-modal-footer-archive-button,
#loree-custom-block-delete-modal-footer-cancel-button,
#loree-custom-block-modal-footer-cancel-button {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 15px;
  background-color: $white;
  color: $color_ultramarine;
  border: 1px solid $color_ultramarine;

  &:hover {
    background-color: $color_ultramarine;
    color: $white;
  }
}

//css to customize the select2 plugin dropdown
.select2-container {
  width: 155px !important;
  font-size: 0.7rem;
  bottom: 15px;
}
.select2-container .select2-selection--multiple {
  min-height: 29px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
  font-size: 0.7rem;
  font-family: SourceSansPro-Regular;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #000d9c;
}

.select2-dropdown {
  position: fixed;
}

.select2-container--open .select2-dropdown {
  left: 20px;
}

#select2-tag-wrapper {
  width: 155px;
  border-radius: 4px;
}
