@import './videoModal.scss';

#loree-embed-url-modal-background {
  @extend #loree-video-modal-background;
}

#loree-embed-url-modal-wrapper {
  @extend #loree-video-modal-wrapper;
}

#loree-embed-url-modal-dialog {
  @extend #loree-video-modal-dialog;
}

#loree-embed-url-modal-wrapper-close {
  @extend #loree-video-modal-wrapper-close;
}

#loree-embed-url-modal-content-header {
  @extend #loree-video-modal-content-header;
}
#loree-embed-url-modal-content-divider {
  @extend #loree-video-modal-content-divider;
}

#loree-embed-url-modal-content-body {
  padding: 12px 20px 18px;
}

#loree-embed-url-modal-content-footer {
  @extend #loree-video-modal-content-footer;
}
