.a11yNotificationCount {
  color: #fff;
  position: absolute;
  top: -6px;
  right: 1px;
  background-color: #2d74fa;
  border-radius: 100px;
  height: 23px;
  width: 23px;
  font-family: Source Sans Pro;
  font-size: 11px;
  font-weight: bold;
  padding: 4px;
  display: none;
}
