@import '../../assets/stylesheets/color';
.loreeNavBar {
  background-color: $color-nero;
  position: relative;
}

.loreeNavBar .leftOptions,
.loreeNavBar .rightOptions {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.loreeNavBar .rightOptions {
  margin-left: auto;
}

.loreeNavBar .leftOptions .buttonSection {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  width: 186px;
}

.loreeNavBar .leftOptions .icon,
.loreeNavBar .rightOptions .icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  flex-direction: column;
  padding: 5px 0;
}

.loreeNavBar .leftOptions .icon {
  margin-right: 25px;
}

.loreeNavBar .rightOptions .icon {
  margin-left: 25px;
}

.loreeNavBar .leftOptions .icon svg,
.loreeNavBar .rightOptions .icon svg {
  object-fit: contain;
  fill: #ffffff !important;
}

.loreeNavBar .leftOptions .icon svg path,
.loreeNavBar .rightOptions .icon svg path {
  stroke: #ffffff;
}

.loreeNavBar .leftOptions .tittle {
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 500px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.loreeNavBar .rightOptions .divider {
  display: inline-flex;
  height: 45px;
  border-right: 1px solid $color-eclipse;
  margin-left: 25px;
}

.loreeNavBar {
  .loreeHeaderLogo {
    img {
      width: 47px;
      height: 47px;
    }
  }
  .leftOptions {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .rightOptions {
    svg {
      width: 18px;
      height: 18px;
    }
  }
  label {
    font-size: 12px;
    line-height: 18px;
    color: $white;
    margin-bottom: 0;
    margin-top: 3px;
    cursor: pointer;
  }
}
@media (max-width: 1280px) {
  .loreeNavBar .leftOptions .tittle {
    max-width: 280px;
  }
}

//  Accessibility checker
.accessibilityCheckerModalWrapper {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2000;
  padding: 30px 60px;

  .accessibilityCheckerModalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
    width: 100%;

    .accessibilityCheckerModalHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1% 0;
      border-bottom: 1px solid #d8d8d8;

      .accessibilityCheckerModalHeaderTitle {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: $color_ultramarine;
        font-family: 'Source Sans Pro', sans-serif;
      }

      .accessibilityCheckerModalHeaderClose {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 0;
        width: 22px;
        position: relative;
        bottom: 10px;
        left: 8px;
        svg {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.accessibilityCheckerModalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;

  .accessibility-cancel-button,
  .accessibility-save-button,
  .accessibility-re-check-button {
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
    border-radius: 4px;
    padding: 4px 15px;
    background-color: $white;
    color: $color_ultramarine;
    border: 1px solid $color_ultramarine;
    &:hover {
      background-color: $color_ultramarine;
      color: $white;
    }
  }

  .accessibility-cancel-button,
  .accessibility-re-check-button {
    color: $color_ultramarine;
    background-color: #fff;
  }

  .accessibility-save-button {
    background-color: $color_ultramarine;
    color: #fff;
  }
}
/*A11Y checker notification count*/
.a11yIcon {
  position: relative;
}

.a11yNotificationCount {
  color: #fff;
  position: absolute;
  top: -6px;
  right: 1px;
  background-color: #2d74fa;
  border-radius: 100px;
  height: 23px;
  width: 23px;
  font-family: Source Sans Pro;
  font-size: 11px;
  font-weight: bold;
  padding: 4px;
  display: none;
}

/*Accessibility Checker-Ck-editor-css*/
.cke_top.cke_reset_all {
  display: none;
}

.cke_toolgroup {
  display: none;
}

.cke_top {
  display: none;
}

.cke_bottom {
  display: none !important;
}
.cke_top.cke_reset_all {
  display: none;
}

#cke_loree-header-accessibility-wrapper {
  height: 100% !important;
  border: 0 !important;
}

.cke_inner.cke_reset {
  height: 100% !important;
}

.cke_contents.cke_reset {
  height: 100% !important;
}
