@import '../../assets/stylesheets/color';

//fonts
$font_0: Source Sans Pro;
$font_1: sans-serif;

//@extend-elements
//original selectors
//#loree-image-modal-filters-container >.dropdown-layout >.btn-primary.dropdown-toggle, #loree-image-modal-filters-container >.dropdown-layout.show >.btn-primary.dropdown-toggle
%dropdown-toggle {
  color: $black;
  background-color: $white;
  width: 105px;
  text-align: left;
  height: 30px;
  padding: 0 10px !important;
  font-size: 14px;
  border: 1px solid $color_gray;
  border-radius: 4px;
  opacity: 1;
}

//original selectors
//.right-container-layout input[type='text']::placeholder, .left-container-header input[type='text']::placeholder
%placeholder_firefox {
  font-size: 12px;
  color: $color_dorado;
  opacity: 0.4;
}

//original selectors
//.right-container-layout input[type='text']:-ms-input-placeholder, .left-container-header input[type='text']:-ms-input-placeholder
%placeholder_ms_1 {
  font-size: 12px;
  color: $color_dorado;
  opacity: 0.4;
}

//original selectors
//.right-container-layout input[type='text']::-ms-input-placeholder, .left-container-header input[type='text']::-ms-input-placeholder
%placeholder_ms_2 {
  font-size: 12px;
  color: $color_dorado;
  opacity: 0.4;
}

//original selectors
//#loree-image-modal-content-footer button.ok-button:disabled, #loree-image-modal-content-footer button.ok-button[disabled]
%disable {
  background: $color_ultramarine 0 0 no-repeat padding-box;
  border-radius: 4px;
  opacity: 0.4;
}

#loree-image-modal-filters-container {
  height: inherit;
  width: 254px;
  .image-search-box {
    border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0;
    outline: none;
    border-bottom: 1px solid $color_gray;
    transition: width 0.7s cubic-bezier(0, 0.795, 0, 1);
    font-size: 1rem;
    padding-right: 1.5rem;
    width: 129px;
    height: 30px;
    display: none;
  }
  .loree-image-modal-filter-search-icon-style {
    position: relative;
    left: 44%;
    top: 5%;
    cursor: pointer;
    height: 30px;
    &.active {
      left: -15px;
    }
  }
  .dropdown.dropdown-layout.show {
    #loree-image-modal-filter-button {
      border-color: $color_ultramarine;
    }
  }
  > .dropdown-layout {
    > .btn-primary {
      &.dropdown-toggle {
        @extend %dropdown-toggle;
      }
      &.dropdown-toggle::after {
        display: block;
        margin-left: 0;
        content: '';
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        font-size: 24px;
        position: relative;
        float: right;
      }
    }
    &.show > {
      .btn-primary.dropdown-toggle {
        @extend %dropdown-toggle;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: transparent;
        box-shadow: 2px 4px 2px #00000029 !important;
      }
      .dropdown-menu.show {
        border-radius: 0 0 4px 4px;
        border: 1px solid $color_ultramarine;
        width: 105px;
        min-width: 105px;
        transform: translate3d(0px, 27px, 0) !important;
        font-size: 14px;
        opacity: 1;
        box-shadow: 2px 4px 2px #00000029;
        > .dropdown-item {
          padding: 5px 10px;
          &.active {
            color: $color_ultramarine;
            font-weight: 600;
            text-decoration: none;
            background-color: transparent;
          }
        }
      }
    }
  }
}
#loree-image-modal-content-header {
  padding: 20px 20px 7px 20px;
  .modal-title {
    font-size: 18px;
    color: $color_ultramarine;
    height: 25px;
  }
}
#loree-image-modal-content-divider {
  width: 900px;
  height: 1px;
  border-top: 1px solid $color_gainsboro;
  opacity: 1;
  margin: 0 20px;
}
#loree-image-modal-content-body {
  padding: 12px 20px 18px;
  #loree-image-modal-content-body-left-container {
    width: 460px;
    height: 288px;
    background: $white 0 0 no-repeat padding-box;
    box-shadow: 2px 4px 2px #00000029;
    border: 1px solid $color_gray;
    border-radius: 8px;
    opacity: 1;
    .left-container-header {
      width: 100%;
      height: 41px;
      padding: 10px 10px 0 10px;
      .left-container-header-title {
        height: 30px;
        width: 195px;
        padding: 2px 0 7px 0;
        div {
          width: inherit;
          font-size: 14px;
          color: $color_ultramarine;
          height: 18px;
          letter-spacing: 0;
          font-family: $font_0, $font_1;
        }
        .nav-tabs .nav-link.active {
          border-bottom: 3px solid #000d9c;
        }
        .nav-link {
          padding: 0.2rem 0;
          margin: 0 0.4rem;
          height: 30px;
        }
      }
    }
    &.disable {
      background: $white 0 0 no-repeat padding-box;
      opacity: 0.2;
    }
  }
  #loree-image-modal-content-body-middle-container {
    width: 118px;
  }
  #loree-image-modal-content-body-right-container {
    width: 332px;
    .right-container-layout {
      margin: auto 0;
      width: 100%;
      span {
        position: absolute;
        padding: 4px 14px 7px;
        min-width: 30px;
        z-index: 1;
      }
      input {
        width: 100%;
        height: 36px;
        padding: 3px 0 6px 45px;
        border: 1px solid $color_gray;
        line-height: 2.5;
      }
      button {
        background-color: $white;
        width: 100%;
        height: 36px;
        padding-left: 45px;
        border: 1px solid $color_gray;
        font-size: 12px;
        color: rgba(88, 88, 88, 0.4);
        text-align: left;
        vertical-align: middle;
        &.active {
          color: $black;
          opacity: 1;
        }
      }
    }
  }
}
#loree-image-list-container,
#loree-lms-image-list-container,
#loree-my-image-list-container {
  width: 100%;
  height: 235px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 10px;
  padding-left: 10px;
  .d-flex {
    margin: 8px;
    height: 40%;
    width: 20%;
  }
  .image-thumbnail:hover {
    color: #000d9c;
    font-weight: bold;
  }
  .loree-image-list-image-thumbnail {
    height: 65px;
    background: $color_alto 0 0 no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    object-fit: scale-down;
  }
  .loree-image-list-image-title {
    font-size: 14px;
  }
  .active {
    color: $color_ultramarine;
    font-weight: bold;
  }
}
.right-container-layout {
  .upload-add-icon {
    button {
      padding: 0px !important;
    }
    span {
      position: relative !important;
    }
  }
  input[type='text']::placeholder {
    @extend %placeholder_firefox;
  }
  input[type='text'] {
    &:-ms-input-placeholder {
      @extend %placeholder_ms_1;
    }
    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }
  }
  button {
    &:focus {
      outline: 0 !important;
      box-shadow: none !important;
    }
  }
  input[type='text']::-ms-input-placeholder {
    @extend %placeholder_ms_2;
  }
  input {
    &:focus::placeholder {
      color: $black !important;
      opacity: 1;
    }
    &:focus::-ms-input-placeholder {
      color: $black !important;
      opacity: 1;
    }
    &:focus:-ms-input-placeholder {
      color: $black !important;
      opacity: 1;
    }
  }
  .disable {
    background: $white 0 0 no-repeat padding-box;
    opacity: 0.2;
  }
}

#loree-image-list-container :hover,
#loree-lms-image-list-container :hover,
#loree-my-image-list-container :hover {
  .loree-image-list-image-thumbnail {
    border: 1px solid $color_ultramarine;
  }
}
.image-thumbnail.active {
  .loree-image-list-image-thumbnail {
    border: 1px solid $color_ultramarine;
  }
}
.left-container-header {
  input[type='text']::placeholder {
    @extend %placeholder_firefox;
  }
  input[type='text']::-ms-input-placeholder {
    @extend %placeholder_ms_2;
  }
  input[type='text']:-ms-input-placeholder {
    @extend %placeholder_ms_1;
  }
}
#loree-image-modal-wrapper-close {
  position: relative;
  bottom: 15px;
  left: 8px;
  &.close:hover {
    color: $color_gainsboro;
    text-decoration: none;
  }
}
#loree-image-modal-content-footer {
  padding: 0 20px 20px;
  width: 100%;
  button {
    border-radius: 4px;
    color: $color_ultramarine;
    background-color: $white;
    font-size: 12px;
    padding: 4px 20px;
    height: 30px;
    border: 1px solid $color_ultramarine;
    &.ok-button {
      color: $white;
      background-color: $color_ultramarine;
      border-color: $color_ultramarine;
      &:disabled {
        @extend %disable;
      }
    }
    &.ok-button[disabled] {
      @extend %disable;
    }
    &:hover {
      color: $white;
      background-color: $color_ultramarine;
      cursor: pointer;
    }
  }
}
#loree-image-modal-background {
  background: $black 0 0 no-repeat padding-box;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1500;
  position: fixed;
  top: 0;
}
#loree-image-modal-wrapper {
  z-index: 1501;
}
#loree-image-modal-dialog {
  width: 940px;
  margin: auto;
}
#loree-image-local-upload-input-message {
  margin-top: 5px;
  p {
    color: $color_dorado;
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
}
#loree-image-local-upload-input-error-message {
  margin-top: 5px;
  p {
    color: red;
    font-size: 8px;
    padding: 0;
    margin: 0;
  }
}
#loree-image-local-upload-input-filesize-error-message {
  margin-top: 2px;
  p {
    color: red;
    font-size: 10px;
    padding: 0;
    margin: 0;
  }
}

#loree-image-modal-content-body-middle-container div {
  margin: auto;
  font-size: 12px;
  color: $color_dorado;
}

//Mozilla Firefox
@-moz-document url-prefix() {
  #loree-image-modal-content-body
    #loree-image-modal-content-body-right-container
    .right-container-layout
    input {
    padding: 0 0 0 45px;
  }
}

//Video details Modal
.image-details-modal-wrapper {
  padding: 20px;

  .image-preview-block {
    height: 200px;
    border: 1px solid $color_ultramarine;
  }

  .image-thumbnail-image {
    width: 160px;
    border: 1px solid $color_gray;
  }

  label {
    font-size: 12px;
    color: $black;
  }

  input {
    border: 1px solid $color_gray;
    font-size: 14px;
    outline: none;
    line-height: 16px;
  }

  label.image-thumbnail-btn {
    font-size: 12px;
    line-height: 15px;
    border-radius: 0;
    color: $color_ultramarine;
    background-color: $white;
    border-top: 1px solid $color_gray;
    cursor: pointer;
  }
}
.d-none.d-flex {
  display: none !important;
}

#loree-image-details-thumbnail-remove-button-wrapper {
  margin: auto 0 0 10px;
  button {
    border-radius: 4px;
    color: $color_ultramarine;
    background-color: $white;
    font-size: 12px;
    padding: 4px 20px;
    height: 30px;
    border: 1px solid $color_ultramarine;
  }
}

.nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link.active {
  border-bottom: 3px solid $color_ultramarine;
  color: $color_ultramarine;
}
.nav-tabs {
  border-bottom: 0px solid #ffffff;
}
.nav-link {
  display: block;
  padding: 0.2rem 0.5rem;
}

.editor-btn-primary {
  background-color: $color_ultramarine !important;
  color: $white !important;
  &:disabled {
    opacity: 0.65;
  }
}
#loree-image-details-modal-alt-input {
  font-size: 14px;
  resize: none;
}

.image-shape-circle {
  clip-path: circle() !important;
}

.image-shape-square {
  clip-path: inset(5% 15% 5% 15%);
}

.edit-image-shape-preview {
  border: 1px solid #000d9c;
}

.ReactCrop__image {
  max-height: 50vh;
}

.edit-image-note {
  position: absolute;
  bottom: 0px;
  margin: 2px;
}
