.loree-interactive-block-backdrop,
.loree-H5P-block-backdrop {
  background: #000 0 0 no-repeat padding-box;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1500;
  position: fixed;
  top: 0;
}

#loree-interactive-block-modal-wrapper,
#loree-interactive-block-delete-modal-wrapper,
#loree-H5P-block-modal-wrapper,
#loree-H5P-block-delete-modal-wrapper {
  z-index: 1501;
  display: block;
}

#loree-interactive-block-delete-modal-content,
#loree-H5P-block-delete-modal-content {
  width: 430px;
}

#loree-interactive-block-modal-container,
#loree-interactive-block-delete-modal-container,
#loree-H5P-block-modal-container,
#loree-H5P-block-delete-modal-container {
  border-radius: 0.5rem;
  padding: 20px;
  height: 90vh;
}

#loree-interactive-block-modal-header,
#loree-interactive-block-delete-modal-header,
#loree-H5P-block-modal-header,
#loree-H5P-block-delete-modal-header {
  border-bottom: 0px;
}

.interactiveLineIframe,
.loree-external-tool-iframe {
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 1px solid #000 !important;
  border-radius: 10px;
}

.interactive-block-modal-dialog,
.H5P-block-modal-dialog {
  width: 90%;
  margin: auto;
}

#loree-interactive-block-modal-title,
#loree-interactive-block-delete-modal-title,
#loree-H5P-block-modal-title,
#loree-H5P-block-delete-modal-title {
  color: #000d9c;
  font-weight: bold;
}

#loree-interactive-block-category-dropdown,
#loree-H5P-block-category-dropdown {
  width: 100%;
  border: 1px solid #ced4da;
  text-align: left;

  &:focus {
    border-color: #1d2fff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 13, 156, 0.25) !important;
  }
}

#loree-interactive-block-category-dropdown::after {
  float: right;
  position: relative;
  top: 10px;
  font-size: 1.4rem;
}

.loree-interactive-block-section-divider,
.loree-H5P-block-section-divider {
  border-top: 1px solid #ced4da;
  margin: 10px 0px;
}

#loree-interactive-block-modal-footer,
#loree-interactive-block-delete-modal-footer,
#loree-H5P-block-modal-footer,
#loree-H5P-block-delete-modal-footer {
  padding: 0 20px 0px;
  width: 100%;
  button {
    border-radius: 4px;
    color: $color_ultramarine;
    background-color: $white;
    font-size: 12px;
    padding: 4px 20px;
    height: 30px;
    border: 1px solid $color_ultramarine;
    margin: 0px 5px;
    &.ok-button {
      color: $white;
      background-color: $color_ultramarine;
      border-color: $color_ultramarine;
      &:disabled {
        @extend %disable;
      }
    }
    &.ok-button[disabled] {
      @extend %disable;
    }
  }
}

.interactive-blocks-thumbnail,
.H5P-blocks-thumbnail {
  width: 160px;
  height: 75px;
}

.interactive-blocks-thumbnail-row,
.H5P-blocks-thumbnail-row {
  width: 160px;
  height: 75px;
}

.interactive-blocks-thumbnail-element {
  width: 160px;
  height: 75px;
}

.H5P-blocks-thumbnail-element {
  width: 155px;
  height: 75px;
}

.loree-sidebar-interactive-block-thumbnail {
  width: 160px;
  height: 75px;
  border: 1px solid #d8d8d8;
}

.loree-sidebar-H5P-block-thumbnail {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 15%;
}

.interactive-block-thumbnail-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 160px;
  height: 75px;
  position: absolute;
  top: 0;
}

.H5P-block-thumbnail-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 145px;
  height: 75px;
  position: absolute;
  top: 0;
}

.interactive-block-title,
.H5P-block-title {
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interactive-block-title-name,
.H5P-block-title-name {
  margin-bottom: 20px;
}

.new-interactive-name,
.new-H5P-name {
  margin-bottom: 20px;
}

.interactive-block-thumbnail:hover,
.H5P-block-thumbnail:hover {
  .loree-sidebar-interactive-block-thumbnail {
    border: 1px solid #000d9c;
  }
  p {
    color: #000d9c;
  }
}

#loree-sidebar-interactive-block-menu-wrapper > .dropdown-toggle::after,
#loree-sidebar-H5P-block-menu-wrapper > .dropdown-toggle::after {
  border: 0;
  display: none;
}

.interactive-block-menu-btn,
.H5P-block-menu-btn {
  position: absolute;
  top: -10px;
  right: -8px;
  z-index: 1;
}

.interactive-block-thumnail-dropdown-menu,
.H5P-block-thumnail-dropdown-menu {
  margin-left: -32px;
  margin-top: -11px;
  min-width: auto;
  padding: 4px 8px;
}

.interactive-block-thumbnail-menu-option,
.H5P-block-thumbnail-menu-option {
  font-size: 12px;
  cursor: pointer;
}

.loree-interactive-block-no-results {
  padding: 5px;
  font-size: 14px;
}

.loree-H5P-block-no-results {
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

#loree-sidebar-interactive-row-category-list-wrapper,
#loree-sidebar-interactive-elements-category-list-wrapper,
#loree-sidebar-interactive-template-category-list-wrapper,
#loree-sidebar-H5P-row-category-list-wrapper,
#loree-sidebar-H5P-elements-category-list-wrapper,
#loree-sidebar-H5P-template-category-list-wrapper {
  max-height: 150px;
  overflow-x: auto;
}

#loree-custom-block-modal-wrapper,
#loree-custom-block-delete-modal-wrapper,
#loree-interactive-block-editmodal-modal-wrapper,
#loree-H5P-block-edith5pmodal-modal-wrapper {
  z-index: 1501;
  display: block;
}

#interactive-modal-loader,
#h5P-modal-loader {
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: white;
  display: flex;
  width: 100%;
  z-index: 1031;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
  .icon {
    display: inline-flex;
  }
}
.interactive-loader-color,
.h5p-loader-color {
  svg {
    fill: $color_ultramarine;
  }
}

#interactive-dropdown-loader,
#H5P-dropdown-loader {
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  width: 202px;
  z-index: 9999;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
  .icon {
    display: inline-flex;
  }
}

.powered-by-section {
  position: absolute;
  right: 10px;
  z-index: 2000;
  bottom: -15px;
  font-size: 10px;
  span {
    font-weight: bold;
  }
}

.editor-interactive-btn {
  width: 160px;
  font-size: 12px;
  padding: 4px 20px;
}

.editor-H5P-btn {
  width: 155px;
  font-size: 11px;
}

.interactive-dropdown-btn,
.H5P-dropdown-btn {
  font-size: 12px;
  padding: 4px 15px;
}
#loree-sidebar-interactive-elements-category-list-wrapper .label-check label {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0;
}

#loree-sidebar-interactive-elements-category-list-wrapper .label-check input {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

#loree-sidebar-H5P-block-menu-btn {
  margin-right: 10px;
}

#loree-sidebar-interactive-elements-category-list-wrapper .label-check {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 5px;
}
