@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css');
@import 'header.scss';
@import 'sidebar.scss';
@import 'iframe.scss';
@import 'alert.scss';
@import 'videoModal.scss';
@import 'bannerModal.scss';
@import 'customBlocks.scss';
@import 'imageModal.scss';
@import 'tableDesign.scss';
@import 'menuDesign.scss';
@import 'viewCodeModal.scss';
@import 'interactiveBlocks.scss';
@import 'previewModal.scss';
@import 'embedUrl.scss';

.loree {
  height: 100%;
  position: relative;
}
