@import '../../assets/stylesheets/color';

$font_0: Source Sans Pro;
$font_1: sans-serif;

.menuLinkNumber {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 2px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  padding: 3px;
  padding-right: 20px;
  width: 55px !important;
  height: 27px !important;
  font-size: 14px !important;
}
.menuAccordionWrapper {
  margin-top: 12px;
}
.gutterOption {
  width: 40px !important;
  height: 23px !important;
  padding: 5px !important;
}
.gutterContent {
  margin-top: 10px;
  .gutterSlider {
    width: 100%;
  }
}
