@import '../../assets/stylesheets/color';

#loree-preview-modal-content-header {
  border-bottom: 1px solid #d8d8d8;
  padding: 1% 0;
  min-height: 55px;
  .modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    color: $color_ultramarine;
  }
  svg {
    width: 25px;
    height: 25px;
  }
  .preview-device-container {
    border: 1px solid $color_ultramarine;
    border-radius: 5px;
    div {
      border-right: 1px solid $color_ultramarine;
      &:last-child {
        border-right: 0;
      }
      &:hover {
        background-color: $color_ultramarine;
        cursor: pointer;
        svg {
          fill: $white;
        }
      }
    }
  }
}

#loree-preview-modal-content-body {
  padding: 12px 20px 18px;
}

#loree-preview-modal-wrapper-close {
  border: 1px solid $color_ultramarine !important;
  background: $color_ultramarine;
  border-radius: 5px !important;
  color: #ffff;
  padding: 5px 10px;
  margin-left: 5px;
}

#loree-preview-modal-background {
  background: $black 0 0 no-repeat padding-box;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1500;
  position: fixed;
  top: 0;
}

#loree-preview-modal-wrapper {
  z-index: 1501;
}

#loree-preview-modal-dialog {
  width: 90%;
  margin: auto;
}

.d-none.d-flex {
  display: none !important;
}

#loree-preview-modal-content-body {
  flex: 1 1 auto;
  padding: 1rem;
}
iframe#loree-preview {
  display: block;
  height: 70vh;
  width: 100%;
  margin: auto;
  border: 1px solid $black;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
iframe#loree-preview.editor-desktop-preview {
  width: 100%;
}
iframe#loree-preview.editor-tablet-preview {
  width: 770px;
}
iframe#loree-preview.editor-mobile-preview {
  width: 400px;
}
.preview-active-device {
  background-color: $color_ultramarine;
  svg {
    fill: $white;
  }
}
