@import '../../assets/stylesheets/color';

.loreeSidebar {
  flex-direction: column;
  position: fixed;
  height: calc(100% - 36px);
  background-color: $color_alto;
  overflow-y: auto;
  z-index: 1000;
}

.loreeSubSidebar {
  flex-direction: column;
  position: fixed;
  height: 100%;
  background-color: $color_alto;
  overflow-y: auto;
  z-index: 1000;
}

.sidebarOpenButton {
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 5px;
  top: 67px;
  left: 0;
  background-color: $black;
  opacity: 0.8;
  border: 0;
  border-radius: 0 4px 4px 0;
  outline: none !important;
  z-index: 999;
}

.sidebarOpenButton:hover {
  background-color: $color_ultramarine;
}

.sidebarOpenButton svg {
  height: 12px;
  width: 13px;
  object-fit: contain;
  stroke-miterlimit: 10;
  transform: rotate(180deg);
  fill: #fff;
  stroke: #fff;
}

.sidebarCloseButtonWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.sidebarCloseButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 0;
  outline: none !important;
  background-color: transparent;
}

.sidebarCloseButton svg {
  height: 100%;
  width: 100%;
  object-fit: contain;
  stroke: $black;
  stroke-miterlimit: 10;
}

.sidebarCloseButton svg > path {
  fill: $black;
}
black .sidebarCloseButton:hover svg > path {
  fill: $color_ultramarine;
}

.accordion .section {
  padding: 10px 20px 70px 20px;
}

#loree-sidebar-element-section {
  padding-bottom: 100px;
}

.accordion .section .sectionLabel.collapsed {
  color: $black;
  svg {
    fill: $black;
  }
}

.accordion .section .sectionLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $color_alto;
  border: 0px;
  padding: 0;
  svg {
    fill: $color_ultramarine;
  }
  &:disabled {
    color: $disabled-btn-shade;
    svg {
      fill: $disabled-btn-shade;
    }
  }
}

.accordion .section .sectionLabel .label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

.accordion .section .sectionLabel .image {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 14px;
  width: 14px;
}

.accordion .section .sectionLabel .image svg {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transform: rotate(90deg);
  transition: all 0.3s ease;
}
.accordion .section .sectionLabel.collapsed .image svg,
.accordion .section .sectionLabel:disabled .image svg {
  transform: rotate(0deg);
}

.quickLinkLabel {
  font-size: 1rem;
  cursor: pointer;
}
.quickLinkAccordionIcon svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 11px;
}
.quickLinkContent {
  margin-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.quickLinkContent:hover {
  color: $color_ultramarine;
}
.accordion .section .sectionContent {
  padding-top: 10px;
}

.accordion .section .sectionContent .sidebarRows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.accordion .section .sectionContent .sidebarRows .sidebarRow {
  display: inline-flex;
  flex: 1;
  padding: 0 2px;
  cursor: pointer;
}

.navAlignmentButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  background-color: transparent;
  height: 20px;
  width: 20px;
  padding: 0;
  margin-right: 20px;
}

.accordion .section .sectionContent .sidebarRows .sidebarRow div {
  display: flex;
  height: 60px;
  border-radius: 10px;
  background-color: #dddddd;
}

.accordion .section .sectionContent .sidebarRows:hover .sidebarRow div {
  background-color: $color_gray;
}

.subSidebarRowsWrapper {
  padding: 15px 15px 100px 15px;
}

.subSidebarRowsWrapper .subSidebarRows {
  display: flex;
  padding-bottom: 20px;
}

.subSidebarRowsWrapper .subSidebarRows .sidebarRow {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
}

.subSidebarRowsWrapper .subSidebarRows .sidebarRow div {
  display: flex;
  flex: 1;
  height: 60px;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  border-radius: 10px;
  font-size: 10px;
  color: #000000;
}

.subSidebarRowsWrapper .subSidebarRows:hover .sidebarRow div {
  background-color: $color_gray;
}

.active .sidebarRow > div {
  background-color: $color_gray !important;
}

.subSidebarElementWrapper {
  padding: 15px 15px 100px 15px;
}

/* * Element block css */
.sidebarElementsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sidebarElement {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 15px;
  border: 0;
  padding: 0;
  background-color: $color_alto;
}

.sidebarElement:disabled {
  cursor: not-allowed;

  .label {
    color: #585858 !important;
  }

  .icon-block {
    border: 1px solid $color_dorado !important;
    fill: #585858 !important;
  }

  .icon-block:hover {
    border: 1px solid $color_dorado !important;
    fill: #585858 !important;
  }
}

.icon-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 1;
  width: 68px;
  height: 68px;
  margin: 5px;
}

.sidebarElement .label {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  width: 68px;
  height: 20px;
}

.icon-block:hover,
.icon-block:hover svg {
  fill: $color_ultramarine;
}

.icon-block.active > svg > path,
.icon-block.active > svg {
  fill: $color_ultramarine;
}

.icon-block-border.element-text {
  color: $color_ultramarine;
}

.icon-block > svg > path,
.icon-block > svg {
  fill: $color_dorado;
}

.icon-block:hover > svg > path {
  fill: $color_ultramarine;
}

.sidebarElement:hover .label {
  color: $color_ultramarine;
}

.first-row {
  margin-bottom: 60px !important;
}

.enable-col:hover .icon-block {
  opacity: 1;
  cursor: pointer;
}

.enable-col .hover_style:hover div {
  fill: $color_ultramarine;
  color: $color_ultramarine;
}

.enable-col .hover_style .icon-block:hover {
  border: 1px solid $color_ultramarine;
}

.text-style {
  margin-top: -13px;
  font-size: 12px;
  color: $black;
  margin-right: -12px;
  font-weight: 700 !important;
}

.elementSectionIcon > path {
  fill: $black;
}

/* subSidebar css */

/** Text block css */
.block-text {
  height: 4px;
  background: $color_dorado 0% 0% no-repeat padding-box;
  margin-bottom: 5px;
}

.block-text-heading {
  height: 20px;
  background: $color_dorado 0% 0% no-repeat padding-box;
  margin-bottom: 5px;
}

.subSidebarElements,
.subInnerSidebarElements {
  margin-bottom: 25px;
  .special-block-border {
    margin-bottom: 0px !important;
  }
  .block-textNameContent {
    padding-left: 5px;
  }
}
.navigate-text-heading {
  height: 20px;
  background: $color_dorado 0% 0% no-repeat padding-box;
  margin-bottom: 5px;
}
.navigate-text {
  height: 20px;
  background: $color_light_dorado 0% 0% no-repeat padding-box;
  margin-bottom: 5px;
}
.navigate-line {
  height: 1px;
  background: $color_dorado 0% 0% no-repeat padding-box;
  margin-bottom: 5px;
}
.navigate-border-heading {
  height: 20px;
  border: 5px solid $color_dorado;
  margin-bottom: 5px;
}
.navigate-border {
  height: 20px;
  border: 5px solid $color_light_dorado;
  margin-bottom: 5px;
}
.back-to-editOption {
  fill: #585858;
  cursor: pointer;
  padding-left: 12px;
  margin-top: -4px !important;
  font-size: 15px;
  span {
    padding-left: 7px;
  }
  svg {
    color: #555;
    border-radius: 50px;
    margin: 10px 0px;
    height: 15px;
  }
}
.back-to-editOption > svg:hover {
  fill: #000d9c;
  cursor: pointer;
}

.box-height {
  border: 1px solid $dark-grey;
  height: 6rem;
}

.block-line {
  width: 3rem;
}

.block-textName,
.external-tool-name {
  margin-top: 0.813rem;
  font-size: 0.75rem;
}

.block {
  margin-top: 2.25rem;
}

.box-height:hover {
  border: 1px solid $color_ultramarine;
  .paste-source {
    svg {
      path {
        fill: $color_ultramarine;
      }
    }
  }
}

.block-textName:hover {
  color: $color_ultramarine;
}

.block-hover:hover .box-height {
  border: 1px solid $color_ultramarine;
}

.block-hover:hover .block-textName {
  color: $color_ultramarine;
}

.external-tool-hover:hover {
  svg path {
    fill: $color_ultramarine;
  }
  .external-tool-name {
    color: $color_ultramarine;
  }
}

.loree-no-results-message,
.loree-error-message {
  font-size: 14px;
}

/** Image block css */
.image-block-text {
  height: 4px;
  background: $white 0% 0% no-repeat padding-box;
  margin-bottom: 5px;
}

.image-background {
  background: $dark-grey 0% 0% no-repeat padding-box;
}

.centerImage-background {
  background: $white 0% 0% no-repeat padding-box;
}

.center-image {
  background: $dark-grey 0% 0% no-repeat padding-box;
  opacity: 1;
}

.right-image {
  padding-left: 5rem;
}

.imgaewithText {
  background: $dark-grey 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 4.9rem;
}

.special-block-icon {
  background: $color_dorado 0% 0% no-repeat padding-box;
  opacity: 1;
  border-radius: 50%;
  padding: 10px;
  height: 13px;
  width: 10px !important;
}
.special-block-border {
  border: 1px solid $dark-grey;
  height: 5rem;
}
.special-block-border:hover {
  border: 1px solid $color_ultramarine;
}
.block-height {
  border: none;
  height: 5rem;
}

.block-hover:hover .block-height {
  border: 1px solid $color_ultramarine;
}

.input-imgBlock {
  opacity: 0;
  position: absolute;
  z-index: 100;
  height: 7rem;
  width: 10.3rem;
}

.block-hover:hover #img-upload {
  border: 1px solid $color_ultramarine;
}

.image-caption {
  margin-top: -1rem;
}

.imgBlock-wrapper:hover .block-textName {
  color: $color_ultramarine;
}

.imgBlock-wrapper:hover .block-height {
  border: 1px solid $color_ultramarine;
}

//quote-block
.quote-block-content {
  font-size: 13px;
  cursor: default;
}

.quote-block-author {
  font-size: 12px;
  cursor: default;
}

// Video block css
.video-block-hover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-block-hover:hover {
  .video-block-height {
    border: 1px solid $color_ultramarine;
  }

  .video-block-textName {
    color: $color_ultramarine;
  }
}

.video-block-height {
  border: 1px solid $dark-grey;
  height: 85px;
  display: flex;
  width: 152px;
}

#videoWithText .video-block-text {
  background: $white 0% 0% no-repeat padding-box !important;
}

.video-block-text {
  background: $color_dorado 0% 0% no-repeat padding-box;
  margin-bottom: 3px;
}

.video-block-text-long {
  height: 3px;
  width: 60px;
}

.video-block-text-short {
  height: 3px;
  width: 48px;
}

.video-block-heading {
  height: 22px;
  width: 60px;
}

.video-background {
  background: $dark-grey;
}

.video-block-textName {
  margin-top: 5px;
  font-size: 0.75rem;
  margin-bottom: 30px;
}

.video {
  display: inline-flex;
  flex: 1;
  margin: 20px 35px;
}

.video-with-text {
  padding: 28px;
}

.video-with-text-wrapper {
  padding: 10px;
}

/**
design section css
*/
.replace-btn {
  font-size: 12px;
  border: 1px solid $color_ultramarine;
  border-radius: 4px;
  color: $color_ultramarine;
  padding: 4px 10px;
  margin: 12px 2px;
  margin-top: 0;
  background: transparent;
}

.design-image-btn {
  font-size: 12px;
  border: 1px solid $color_ultramarine;
  border-radius: 4px;
  color: $color_ultramarine;
  padding: 4px 10px;
  margin: 12px 10px 0px 0px;
  background: transparent;
}
#loree-sidebar-video-details {
  margin-bottom: 20px;
}
.replace-btn:hover {
  background: $color_ultramarine 0% 0% no-repeat padding-box;
  color: $white;
}

.form-control-design {
  width: 50px;
  height: 24px;
  background: $white 0% 0% no-repeat padding-box;
  border: 1px solid $color_gray;
  border-radius: 2px;
  opacity: 1;
}

.left-pad {
  border-left: 1px dashed $color_ultramarine;
  padding: 0px;
  width: 50px;
  margin-bottom: 10px;
}

.left-pad-transform {
  border-left: 1px dashed $color_ultramarine;
  padding: 0 0 0 5px;
  width: 40px;
}

.top-pad {
  border-top: 1px dashed $color_ultramarine;
  padding: 0px;
  width: 50px;
  margin-bottom: 10px;
}

.right-pad {
  border-right: 1px dashed $color_ultramarine;
  padding: 0px;
  margin-bottom: 10px;
}

.bottom-pad {
  border-bottom: 1px dashed $color_ultramarine;
  padding: 0px;
  width: 50px;
  margin-bottom: 10px;
}

/* Text box in Space designs */
.left-pad input.form-control-design,
.top-pad input.form-control-design,
.right-pad input.form-control-design,
.bottom-pad input.form-control-design {
  border-color: #fff;
}

.accordion-sub-text {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  margin-top: 12px;
}
#loree-sidebar-image-details {
  margin-bottom: 10px;
}

.accordion-sub-text:hover {
  color: $color_ultramarine;
  text-decoration: none;
  .accordion-icon {
    border-color: $color_ultramarine;
    color: $color_ultramarine;
  }
}

/* Side bar accordion changes */
.accordion-sub-text[aria-expanded='true'] {
  color: $color_ultramarine;
  .accordion-icon {
    border-color: $color_ultramarine;
    color: $color_ultramarine;
  }
}

.circle {
  height: 24px;
  width: 24px;
  border: 2px solid #707070;
  border-radius: 50%;
  background: $white;
}

.square {
  height: 24px;
  width: 24px;
  border: 2px solid #707070;
  background: $white;
}

.triangle {
  position: relative;
  top: -3px;
  left: -5px;
  width: 0;
  border-bottom: solid 26px #707070;
  border-right: solid 15px transparent;
  border-left: solid 15px transparent;
}

.triangle .empty {
  position: absolute;
  top: 5px;
  left: -12px;
  width: 0;
  border-bottom: solid 19px $white;
  border-right: solid 12px transparent;
  border-left: solid 12px transparent;
}

.lock-set {
  width: 1rem;
  position: relative;
  left: 132px;
  top: 40px;
  z-index: 10;
}

.lock-set-space {
  width: 1rem;
  position: relative;
  left: 83px;
  top: 57px;
  z-index: 10;
}

.dropDown-radius {
  border-radius: 4px;
  border: 1px solid $black;
  background: white;
}

.accordion-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  border: 2px solid grey;
  border-radius: 50%;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  transform: rotate(90deg);
}
.accordion-icon + span {
  padding-left: 10px;
}

.accordion-min-icon-position {
  padding-left: 1px;
}

.accordion-icon:hover {
  border: 2px solid $color_ultramarine;
  color: $color_ultramarine;
}

.loree-design-color-pickers,
.loree-table-design-color-pickers {
  border: 1px solid $color_ultramarine;
}

.color-picker {
  width: 20px;
  height: 20px;
  background: $black;
  padding: 0;
  position: relative;
  bottom: 4px;
  border-radius: 2px;
  margin-left: 14px;
}

.inputImgBlock {
  display: none;
}

.shapeBlockSpace {
  display: inline-flex;
  margin: 8px;
}

.shapeBlockSpaceParentDiv {
  display: flex;
  margin: 8px;
}

.display-Flex {
  display: flex;
}

.display-inlineFlex {
  display: inline-flex;
}

.marginLeft {
  margin-left: 16px;
}

.marginTopBottom-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.fourSideMargin-2 {
  padding-top: 10px;
  padding-left: 5px;
}

.designSectionImageView {
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: scale-down;
}

.design-section-size-label {
  width: 40px;
}

.lock-design-section-sizeInput {
  position: absolute;
  right: 2px;
  bottom: 27px;
}

.widthOptionSpecialElement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widthPromptLabel {
  font-size: 14px;
  font-style: italic;
}

input[type='number'] {
  padding: 0px 0px;
  padding-left: 2px;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
}

input[type='number']:focus {
  padding: 0px 0px;
  padding-left: 2px;
  outline: 0px solid #fff;
}

.design-section-img-wrap {
  width: 100%;
  padding-left: 2px;
  margin-top: 15px;
}

.design-section-image-name-block {
  width: 100%;
  height: 2rem;
  border: 1px solid $dim-grey;
  padding: 4px;
  border-radius: 6px;
}

#loree-sidebar-design-video-thumbnail-header {
  font-size: 1rem;
  color: #000d9c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.space-block {
  padding-left: 7px;
}

.border-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('../../assets/Icons/dropdown_active.svg');
  background-repeat: no-repeat;
  background-position: right 0.4em top 50%, 0 0;
  background-size: 0.8em auto, 100%;
  width: 9rem;
  border-radius: 4px;
  border: 1px solid $dim-grey;
  padding-left: 4px;
}

.img-border-color-picker-wrapper .pcr-app .pcr-swatches > button {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin: 0.2em;
}

.img-border-color-picker-wrapper .pcr-app .pcr-swatches > button::after {
  border: 0 solid $dim-grey;
}

.img-border-color-picker-wrapper .pcr-swatches > button:nth-child(6)::after {
  border: 1px solid $dim-grey;
  border-radius: 6px;
}

.img-border-color-picker-wrapper .pcr-app .pcr-swatches {
  padding: 0 1em;
}

.img-border-color-picker-wrapper .pcr-app .pcr-swatches {
  display: block;
}

.img-border-color-picker-wrapper .pcr-app .pcr-swatches {
  border: 1px solid $dim-grey;
  margin: 15px 15px 0 15px;
  padding: 0px 0.2em 0px 0.3em !important;
  border-radius: 6px;
}

.img-border-color-picker-wrapper .pcr-app.visible {
  border: 1px solid $color_ultramarine;
  border-radius: 4px;
}

.img-border-color-picker-wrapper .pcr-cancel {
  background-color: $white !important;
  border: 1px solid $color_ultramarine !important;
  color: $color_ultramarine !important;
  padding: 4px !important;
  border-radius: 2px !important;
}

select:focus {
  outline-color: $color_ultramarine;
}

.design-section-alignment-button {
  cursor: pointer;
  padding-top: 5px;
}

.design-section-alignment-button.active {
  background-color: red;
}

//Divider Block Styles
.editor-submenu-option {
  .submenu-icon-item {
    height: 6rem;
    border: 1px solid $color_gray;
    background-color: $white;
  }

  .submenu-label-item {
    color: $black;
    font-size: 0.75rem;
    line-height: 20px;
  }

  &:hover {
    cursor: pointer;

    .submenu-icon-item {
      border: 1px solid $color_ultramarine;
    }

    .submenu-label-item {
      color: $color_ultramarine;
    }
  }
}

.sidebarTableElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

  .icon {
    height: 85px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 8px;

    svg {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .title {
    font-size: 12px;
  }
}

#loree-design-section-image-preview-wrapper {
  display: flex;
  justify-content: center;
  height: 80px;
  width: 100%;
  border: 1px solid $dim-grey;
}

.loree-sidebar-custom-block-search-input {
  width: 160px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #909090;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 4px 25px 4px 5px;

  &::placeholder {
    font-size: 0.7rem;
  }
}

#loree-sidebar-custom-search-filter-icon {
  float: right;
  position: relative;
  bottom: 29px;
  right: 10px;

  & svg {
    width: 13px;
  }
}

.loree-sidebar-custom-block-category-dropdown {
  border: 1px solid #909090;
  background: white;
  width: 160px;
  height: auto;
  padding: 4px 10px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  font-size: 0.8rem;

  &::after {
    position: absolute;
    right: 10px;
    top: 13px;
    font-size: 24px;
  }
}

#loree-sidebar-custom-global-template-category-dropdown-menu.loree-sidebar-custom-block-category-dropdown-menu {
  left: 0px !important;
}

.loree-sidebar-custom-block-category-dropdown-menu {
  border: 1px solid #909090;
  label {
    width: 130px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.dropdown.dropdown-layout.show {
  #loree-sidebar-custom-row-category-dropdown,
  #loree-sidebar-custom-elements-category-dropdown,
  #loree-sidebar-custom-global-template-category-dropdown,
  #loree-sidebar-interactive-elements-category-dropdown {
    border-color: #000d9c;
  }
  .dropdown-menu.show {
    width: 105px;
    border-color: #000d9c;
  }
  #loree-sidebar-custom-row-category-dropdown,
  #loree-sidebar-custom-elements-category-dropdown,
  #loree-sidebar-custom-global-template-category-dropdown,
  #loree-sidebar-interactive-elements-category-dropdown {
    #category-selected-list-wrapper,
    #template-category-selected-list-wrapper,
    #category-selection-more {
      display: none;
    }
  }
}

.dropdown.dropdown-layout.show {
  #loree-sidebar-interactive-block-thumbnail-dropdown-menu,
  #loree-sidebar-H5P-block-thumbnail-dropdown-menu {
    border-color: #000d9c;
    width: 60px;
  }
}

#loree-sidebar-custom-block-menu-wrapper .dropdown-menu.show {
  width: auto;
}

.category-dropdown-active {
  border: 1px solid red;
}

input:invalid {
  outline: 0 !important;
  box-shadow: none !important;
}

#loree-sidebar-custom-block-category-button {
  width: 100%;

  button {
    border-radius: 4px;
    color: $color_ultramarine;
    background-color: $white;
    font-size: 12px;
    padding: 4px 15px;
    height: 30px;
    border: 1px solid $color_ultramarine;

    &.apply-button {
      color: $white;
      background-color: $color_ultramarine;
      border-color: $color_ultramarine;
      margin-left: 10px;

      &:disabled {
        @extend %disable;
      }
    }

    &.apply-button[disabled] {
      @extend %disable;
    }
  }
}

#loree-sidebar-interactive-block-category-button {
  width: 100%;
}

.category-selected-list {
  border-top: 1px solid #909090;
  margin: 5px 0;
  padding-top: 8px;
  height: auto;
  white-space: break-spaces;
  max-height: 230px;
  overflow-y: auto;
}

.category-selected-list-item {
  display: inline-block;
  border: 1px solid #909090;
  padding: 0.2rem;
  position: relative;

  &:hover {
    border: 1px solid #000d9c;
    color: #000d9c;

    .category-selected-list-item-remove-icon {
      display: inline;
    }
  }

  .category-selected-list-item-remove-icon {
    position: absolute;
    top: -11px;
    right: -5px;
    display: none;

    svg {
      width: 10px;
      height: 10px;

      path {
        fill: #000d9c;
      }
    }
  }
}

.interactive-category-selected-list-item {
  border: 1px solid #909090;
  padding: 0.2rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    border: 1px solid #000d9c;
    color: #000d9c;

    .interactive-category-selected-list-item-remove-icon {
      display: inline;
    }
  }

  .interactive-category-selected-list-item-remove-icon {
    position: absolute;
    top: -6px;
    right: -1px;
    display: none;

    svg {
      width: 10px;
      height: 10px;

      path {
        fill: #000d9c;
      }
    }
  }
}

#loree-sidebar-custom-global-template-wrapper {
  padding: 0 20px 30px 20px;
  position: relative;
}

#loree-sidebar-custom-template-search-filter-icon {
  position: absolute;
  right: 33px;
  top: 0;
  & svg {
    width: 13px;
  }
}

.editor-design-margin-heading {
  width: 100%;
}

.sidebarElement:hover svg,
.sidebarElement:hover svg path {
  fill: $color_ultramarine;
}

.loree-sidebar-custom-block-thumbnail:hover {
  border: 1px solid #000d9c;
}
.loree-sidebar-interactive-block-thumbnail:hover {
  border: 1px solid #000d9c;
}

.pcr-save {
  background-color: #000d9c !important;
  border: 1px solid #000d9c !important;
  padding: 4px !important;
  border-radius: 2px !important;
  order: 9;
  width: 101.1px !important;
  height: 30px !important;
}

.pcr-clear {
  background-color: #ffffff !important;
  border: 1px solid #000d9c !important;
  color: #000d9c !important;
  padding: 4px !important;
  order: 6;
  border-radius: 2px !important;
  width: 53.1px !important;
  height: 30px !important;
}

.pcr-cancel {
  background-color: #ffffff !important;
  border: 1px solid #000d9c !important;
  color: #000d9c !important;
  padding: 4px !important;
  border-radius: 2px !important;
  order: 8;
  width: 101.1px !important;
  height: 30px !important;
}
//interactive block css

.loree-sidebar-interactive-block-search-input,
.loree-sidebar-H5P-block-search-input {
  width: 160px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #909090;
  border-radius: 4px;
  padding-right: 1.5rem;
  font-size: 0.8rem;
  padding: 4px 10px;

  &::placeholder {
    font-size: 0.7rem;
  }
}

#loree-sidebar-interactive-search-filter-icon,
#loree-sidebar-H5P-search-filter-icon,
#loree-sidebar-H5P-search-by-tag-filter-icon {
  float: right;
  position: relative;
  bottom: 27px;
  right: 20px;

  & svg {
    width: 13px;
  }
}
#loree-sidebar-interactive-search-filter-icon {
  right: 12px;
}

.loree-sidebar-interactive-block-category-dropdown {
  border: 1px solid #909090;
  background: white;
  width: 160px;
  padding: 6px 10px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
  font-size: 0.8rem;
  height: auto;

  &::after {
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 24px;
  }
}

.loree-sidebar-interactive-block-category-dropdown-menu {
  border: 1px solid #909090;
  font-size: 12px;

  label {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pcr-app .pcr-interaction .pcr-type.active {
  background-color: #ffffff !important;
  color: #000d9c !important;
}

.pcr-app .pcr-interaction .pcr-result {
  background-color: #ffffff !important;
  border: 1px solid #909090 !important;
  color: #000d9c !important;
}

.pcr-app .pcr-interaction .pcr-result:focus {
  border: 1px solid #000d9c !important;
}
.pcr-app .pcr-interaction input:focus {
  box-shadow: none !important;
}
.pcr-save,
.pcr-cancel {
  width: 47.5% !important;
}

// Image design section
.design-section-image-border-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.design-section-image-border-option label {
  display: inline-flex;
  margin-bottom: 0 !important;
}

.design-section-image-border-option input {
  display: inline-flex;
  width: 35px;
}

.design-section-image-border-option .imageBorderColorPicker {
  display: inline-flex;
  height: 20px;
  width: 20px;
  border: 1px solid $color-palette-border;
}

.design-section-image-background-option {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 15px;
}

.design-section-image-background-option label {
  display: inline-flex;
  margin-bottom: 0 !important;
}

.design-section-image-background-option .imageBackgroundColorPicker {
  display: inline-flex;
  height: 20px;
  width: 20px;
  border: 1px solid $color-palette-border;
  margin-left: 10px;
  margin-top: 3px;
}

.design-section-line-border-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.design-section-line-border-option label {
  display: inline-flex;
  margin-bottom: 0 !important;
}

.design-section-line-border-option .lineColorPicker {
  display: inline-flex;
  height: 20px;
  width: 20px;
  border: 0;
}

.quick-link-icon-right-arrow {
  background: url('../../assets/Icons/dropdown_normal.svg');
  background-position: 1px 7px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: 6px;
}
.quick-link-icon-down-arrow {
  background-image: url('../../assets/Icons/dropdown_active.svg');
  background-position: 1px 10px;
  margin-left: 0px;
  background-repeat: no-repeat;
  background-size: 11px;
}

.dropdown-item {
  padding: 0.25rem 1.75rem;
  white-space: normal;
  line-height: 1.5;
}

.bb-dropdown-item {
  padding: 0.25rem 0.95rem;
  white-space: normal;
  line-height: 13px;
}

#loree-custom-block-new-category-option {
  border-bottom: 1px solid #ced4da;
  background-color: #ced4da;
}

.bb-help-menu {
  position: absolute;
  top: -90px;
  left: -90px;
  font-size: 0.7rem;
  min-width: 6rem;
}

// Side bar custom scroll styles
.custom-scrollbar.sidebar-scroll {
  max-height: unset;
  overflow-y: auto;
}

@-moz-document url-prefix() {
  .custom-scrollbar.sidebar-scroll {
    width: 205px !important;
    scrollbar-width: thin;
  }
}

//quick-links
.quick-link-popup {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #000;
  position: absolute;
  top: 7px;
  right: 0px;
}

.d2l-quick-link-section,
.bb-quick-link-section {
  position: relative;
  left: 36px;
}

.d2l-quick-link-backdrop,
.bb-quick-link-backdrop {
  background: #000 0 0 no-repeat padding-box;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1500;
  position: fixed;
  top: 0;
}

#d2l-quick-link-modal-wrapper,
#bb-quick-link-modal-wrapper {
  z-index: 1501;
}

#d2l-quick-link-modal-content,
#bb-quick-link-modal-content {
  max-width: 900px;
  max-height: 300px;
}

#d2l-quick-link-modal-container,
#bb-quick-link-modal-container {
  padding: 20px;
  min-height: 300px;
  .quick-link-header-text {
    color: #000d9c;
  }
  .d2l-quick-link-row,
  .bb-quick-link-row {
    max-width: 900px;
    max-height: 300px;
    min-height: 280px;
  }
  .d2l-quick-link-column,
  .bb-quick-link-column {
    height: 290px;
    overflow-y: auto;
  }
  .d2l-quick-link-icon-right-arrow,
  .bb-quick-link-icon-right-arrow {
    background: url('../../assets/Icons/dropdown_normal.svg');
    background-position: 180px 7px;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: 6px;
  }
  .d2l-module-item-label,
  .bb-module-item-label {
    max-width: 140px;
  }
  .d2l-module-item-radio,
  .bb-module-item-radio {
    margin: 0.5rem;
  }
  .loree-quick-link-cancel-button {
    border-radius: 4px;
    color: #000d9c;
    background-color: #fff;
    font-size: 12px;
    padding: 4px 20px;
    border: 1px solid #000d9c;
    margin: 0px 5px;
  }
  .loree-quick-link-apply-button {
    background: #000d9c 0 0 no-repeat padding-box;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    border: 1px solid #000d9c;
    padding: 4px 20px;
    margin: 0px 5px;
  }
  p.d2l-units-header,
  p.bb-units-header {
    cursor: pointer;
    &.active {
      border-bottom: 2px solid #000d9c;
      color: #000d9c;
      width: 35px;
    }
  }
}

.d2l-quick-link-heading,
.bb-quick-link-heading {
  padding-left: 35px;
}
.card-width {
  width: 210px;
}

#loree-sidebar-custom-row-category-button-cancel,
#loree-sidebar-interactive-row-category-button-cancel {
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  border-radius: 4px;
  padding: 4px 15px;
  background-color: $white;
  color: $color_ultramarine;
  border: 1px solid $color_ultramarine;
  &:hover {
    background-color: $color_ultramarine;
    color: $white;
  }
}

// sidebar common styles and Fixes

#loree-design-section-space-block-collapse > div > div > div {
  flex: unset !important;
}
#loree-design-section-space-block-collapse > div > div.display-Flex,
#loree-design-section-alignment-block-collapse > div {
  justify-content: space-between;
  width: 80%;
}
#loree-design-section-space-block-collapse span i {
  font-size: 12px;
}

#loree-quick-link-accordion-wrapper .sectionLabel {
  margin-bottom: 10px;
  display: flex !important;
  align-items: baseline;
  justify-content: unset;
  &:hover {
    color: $color_ultramarine;
    svg {
      fill: $color_ultramarine;
    }
  }
}
#loree-design-section-video-control-block-collapse .form-check:first-child {
  margin-top: 0;
}
#loree-sidebar-design-collapse {
  padding-top: 0;
}
#loree-sidebar-design-element-details > div {
  padding-top: 10px;
}
#loree-sidebar-design-section input[type='number']:focus,
#loree-sidebar-table-design-section input[type='number']:focus,
#loree-sidebar-container-design-section input[type='number']:focus {
  border: 1px solid $color_ultramarine;
}
