@import '../../assets/stylesheets/color';
.loreeSpace {
  display: flex;
  position: fixed;
  height: 100%;
  padding-top: 17px;
  overflow: hidden;
  .powered-by-section {
    position: absolute;
    right: 25px;
    z-index: 2000;
    bottom: -15px;
    font-size: 10px;
    span {
      font-weight: bold;
    }
  }
  .editor-help-link {
    font-size: 10px;
    position: absolute;
    top: 66px;
    right: 20px;
    color: $color_dorado;
    cursor: pointer;
    svg {
      width: 12px;
      height: 12px;
      fill: $color_dorado;
    }
  }
}
