@import '../../assets/stylesheets/color';

$font_0: Source Sans Pro;
$font_1: sans-serif;

.tableDesignSection {
  .tableRowOptionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;

    .tableRowOption {
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    .title {
      font-family: $font_0;
    }

    .input {
      font-family: $font_0;
      font-size: 12px;
      width: 35px;
      height: 20px;
    }
  }

  .tableColumnOptionWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    margin-top: 5px;

    .tableColumnOption {
      display: inline-flex;
      align-items: center;
    }

    .title {
      font-family: $font_0;
    }

    .input {
      font-family: $font_0;
      font-size: 12px;
      width: 35px;
      height: 20px;
    }
  }

  .accordionItem {
    margin-top: 12px;
    padding-left: 0px;

    .accordionButton {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      border: 0;
      background-color: transparent;
      padding: 0;

      .icon {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        height: 24px;
        width: 24px;
        border: 2px solid grey;
        border-radius: 50%;
        font-family: $font_0;
        font-size: 15px;
        font-weight: bold;
        color: #000000;
        transform: rotate(90deg);
      }

      .icon:hover {
        border: 2px solid $color_ultramarine;
        color: $color_ultramarine;
      }

      .label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: bold;
      }
    }
    .accordionButton[aria-expanded='true'] {
      color: $color_ultramarine;
      .icon {
        border-color: $color_ultramarine;
        color: $color_ultramarine;
      }
    }

    .accordionContent {
      justify-content: flex-start;
      align-items: center;
      padding-left: 15px;
      padding-top: 10px;
      span {
        i {
          font-size: 12px;
        }
      }

      .alignmentButton {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 0;
        background-color: transparent;
        height: 20px;
        width: 20px;
        padding: 0;
        margin-right: 20px;

        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  .widthOption {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label {
      display: inline-flex;
      align-items: center;
      font-family: $font_0;
    }

    .input {
      display: inline-flex;
      align-items: center;
      font-family: $font_0;
      font-size: 0.9rem;
      width: 50px;
      height: 20px;
    }
  }

  .tableMarginSpaceWrapper {
    input {
      display: inline-flex;
      align-items: center;
      width: 50px;
      font-size: 0.9rem;
      border-width: 0px;
    }

    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      flex-wrap: wrap;

      .option {
        display: inline-flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
      }

      .leftOptionMargin {
        border-left: 1px dashed $color_ultramarine;
        padding: 0px;
        width: 50px;
        margin-right: 22px;
        margin-bottom: 10px;
      }

      .topOptionMargin {
        border-top: 1px dashed $color_ultramarine;
        padding: 0px;
        width: 50px;
        margin-bottom: 10px;
      }

      .rightOptionMargin {
        border-right: 1px dashed $color_ultramarine;
        padding: 0px;
        margin-right: 20px;
        margin-bottom: 10px;
      }

      .bottomOptionMargin {
        border-bottom: 1px dashed $color_ultramarine;
        padding: 0px;
        width: 50px;
        margin-bottom: 10px;
      }
    }
  }

  .tablePaddingSpaceWrapper {
    input {
      display: inline-flex;
      align-items: center;
      width: 50px;
      border-width: 0px;
      font-size: 0.9rem;
    }

    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5px;
      flex-wrap: wrap;

      .option {
        display: inline-flex;
        width: 50%;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
      }

      .leftOptionPadding {
        border-left: 1px dashed $color_ultramarine;
        padding: 0px;
        width: 50px;
        margin-right: 22px;
        margin-bottom: 10px;
      }

      .topOptionPadding {
        border-top: 1px dashed $color_ultramarine;
        padding: 0px;
        width: 50px;
        margin-bottom: 10px;
      }

      .rightOptionPadding {
        border-right: 1px dashed $color_ultramarine;
        padding: 0px;
        margin-right: 20px;
      }

      .bottomOptionPadding {
        border-bottom: 1px dashed $color_ultramarine;
        padding: 0px;
        width: 50px;
      }
    }
  }

  .borderOption {
    .borderWidth {
      .label {
        font-family: $font_0;
      }

      .input {
        display: inline-flex;
        align-items: center;
        width: 35px;
        height: 20px;
        font-family: $font_0;
        font-size: 0.9rem;
        margin-right: 5px;
      }

      .color {
        height: 20px;
        width: 20px;
        background-color: #000000;
        border: 0;
        border-radius: 3px;
      }
    }

    .borderType {
      margin-top: 5px;

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-image: url('../../assets/Icons/dropdown_active.svg');
        background-repeat: no-repeat;
        background-position: right 0.4em top 50%, 0 0;
        background-size: 0.8em auto, 100%;
        width: 100%;
        border-radius: 5px;
        padding: 1px 4px;
        font-size: 0.9rem;
        border: 1px solid #909090;
      }
    }
  }

  .colorOption {
    .backgroundColorOption {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .label {
        font-family: $font_0;
      }

      .color {
        height: 20px;
        width: 20px;
        border: 1px solid $color-palette-border;
        border-radius: 3px;
      }
    }
  }

  .rowColumnSelectionOption {
    padding: 0 5px;
    margin-top: 10px;

    .option {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      margin: 5px 0;

      .label {
        margin-left: 10px;
        font-family: $font_0;
      }
    }
  }

  .fontFamilyOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    .label {
      display: inline-flex;
      flex: 0.8;
      justify-content: flex-start;
      align-items: center;
      font-family: Source Sans Pro;
    }

    .inputBoxWrapper {
      display: inline-flex;
      flex: 1.2;
      justify-content: flex-start;
      align-items: center;

      input {
        width: 100%;
        border-radius: 5px;
        padding: 1px;
        font-size: 0.9rem;
        border: 1px solid #909090;
        background: #fff;
        padding: 2px 4px;
      }
    }

    .selectBoxWrapper {
      display: inline-flex;
      flex: 1.2;
      justify-content: flex-start;
      align-items: center;

      select {
        width: 100%;
        border-radius: 5px;
        padding: 1px;
        font-size: 0.9rem;
        border: 1px solid #909090;
        background: #fff;
      }
    }
  }
}
