@import '../../assets/stylesheets/color';

#loree-view-code-modal-content-header {
  padding: 20px 20px 7px 20px;
  .modal-title {
    font-size: 18px;
    color: $color_ultramarine;
    height: 25px;
  }
}

#loree-view-code-modal-content-divider {
  width: 900px;
  height: 1px;
  border: 1px solid $color_gainsboro;
  opacity: 1;
  margin: 0 20px;
}
#loree-view-code-modal-content-body {
  height: 472px;
  padding: 12px 20px 18px;
}

#loree-view-code-modal-wrapper-close {
  position: relative;
  bottom: 15px;
  left: 8px;
  &.close:hover {
    color: $color_gainsboro;
    text-decoration: none;
  }
}

#loree-view-code-modal-background {
  background: $black 0 0 no-repeat padding-box;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1500;
  position: fixed;
  top: 0;
}

#loree-view-code-modal-wrapper {
  z-index: 1501;
}

#loree-view-code-modal-dialog {
  width: 940px;
  margin: auto;
}

.d-none.d-flex {
  display: none !important;
}

//original selectors
//#loree-view-code-modal-content-body #loree-view-code-modal-html-code-editor .CodeMirror-linenumber, #loree-view-code-modal-content-body #loree-view-code-modal-css-code-editor .CodeMirror-linenumber
%CodeMirror-linenumber {
  padding: 0 3px 0 10px;
  text-align: left;
  color: $black;
}

#loree-view-code-modal-content-body {
  .loree-code-viewer-editor-header {
    height: 50px;
    padding: 10px;
    background: $modal-border;
    p {
      font-size: 18px;
      font-weight: 600;
      color: $black;
      margin-bottom: 0;
    }
    button {
      border-radius: 4px;
      color: $white;
      background-color: $color_ultramarine;
      border-color: $color_ultramarine;
      font-size: 12px;
      padding: 4px 15px;
      height: 30px;
      border: 1px solid $color_ultramarine;
    }
  }
  #loree-view-code-modal-html-code-editor,
  #loree-view-code-modal-css-code-editor {
    .CodeMirror {
      background: $modal-border;
      font-family: SourceSansPro-Regular;
      font-size: 14px;
    }
    .CodeMirror-gutters {
      background: $modal-border;
    }
    .CodeMirror-linenumber {
      @extend %CodeMirror-linenumber;
    }
    .CodeMirror-focused {
      .CodeMirror-selected {
        background: $color_dark_gray;
      }
    }
  }
  .loree-code-viewer-editor-divider {
    height: 1px;
    border: 1px solid $color_dorado;
    opacity: 1;
    margin: 0 10px;
  }
  .loree-code-viewer-editor-container {
    width: 440px;
    height: 390px;
    background: $modal-border;
  }
}
#loree-view-code-modal-content-body-hierarchy-section {
  margin-bottom: 12px;
}
#loree-view-code-modal-content-body-element {
  width: 25%;
  margin-right: 25px;
  cursor: pointer;
  div {
    height: 10px;
    background: #909090;
    width: 100%;
  }
  p {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  }
  &.inactive {
    background: $white 0 0 no-repeat padding-box;
    opacity: 0.2;
    div {
      height: 4px;
      margin-top: 6px;
    }
  }
}
#loree-view-code-modal-content-body-column {
  width: 25%;
  margin-right: 25px;
  cursor: pointer;
  div {
    height: 10px;
    background: #585858;
    width: 100%;
  }
  p {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  }
  &.inactive {
    background: $white 0 0 no-repeat padding-box;
    opacity: 0.2;
    div {
      height: 4px;
      margin-top: 6px;
    }
  }
}
#loree-view-code-modal-content-body-row {
  width: 25%;
  margin-right: 25px;
  cursor: pointer;
  div {
    height: 10px;
    background: #000d9c;
    width: 100%;
  }
  p {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  }
  &.inactive {
    background: $white 0 0 no-repeat padding-box;
    opacity: 0.2;
    div {
      height: 4px;
      margin-top: 6px;
    }
  }
}
#loree-view-code-modal-content-body-page {
  width: 25%;
  cursor: pointer;
  div {
    height: 10px;
    background: #908a00;
    width: 100%;
  }
  p {
    width: 100%;
    margin-bottom: 0;
    font-size: 14px;
  }
  &.inactive {
    background: $white 0 0 no-repeat padding-box;
    opacity: 0.2;
    div {
      height: 4px;
      margin-top: 6px;
    }
  }
}
#loree-view-code-modal-content-footer {
  padding: 0 20px 20px;
  width: 100%;
  div {
    margin-left: auto;
  }
  button {
    border-radius: 4px;
    color: $color_ultramarine;
    background-color: $white;
    font-size: 12px;
    padding: 4px 15px;
    height: 30px;
    border: 1px solid $color_ultramarine;
    &:hover {
      color: $white;
      background-color: $color_ultramarine;
      cursor: pointer;
    }
  }
}
