@import '../../../assets/stylesheets/color';

.loreeSpace {
  position: fixed;
  display: grid;
  grid-auto-rows: 1fr 20rem;
  height: 100%;

  @media screen and (min-width: 1276px) {
    grid-template-rows: auto;
    grid-auto-flow: column;
    grid-auto-columns: auto #{'min(20rem, 40vw)'};
  }
}

.a11yChecker {
  display: contents;
}

.poweredBySection {
  position: absolute;
  right: 25px;
  z-index: 2000;
  bottom: -15px;
  font-size: 10px;

  span {
    font-weight: bold;
  }
}

.editorHelpLink {
  font-size: 10px;
  position: absolute;
  top: 66px;
  right: 20px;
  color: $color_dorado;
  cursor: pointer;

  svg {
    width: 12px;
    height: 12px;
    fill: $color_dorado;
  }
}
