.container {
  display: contents;
}

.a11yChecker {
  position: relative;
  order: -1;
  background: white;
  padding: 10px;
  padding-bottom: 1px;
  overflow: auto;
  overflow: hidden;
  z-index: 2;
}

@media only screen and (max-width: 1275px) {
  .a11yChecker {
    height: calc(100% - 90px);
    border-left: 20px solid #e9e9ee;
    border-right: 20px solid #e9e9ee;
    border-top: 1px solid #e9e9e9;
  }
}

@media only screen and (max-width: 901px) {
  .a11yChecker {
    height: calc(100% - 140px) !important;
  }
}
