dfn {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

img {
  vertical-align: middle;
  border-style: none;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='date'],
input[type='datetime-local'],
input[type='month'],
input[type='time'] {
  -webkit-appearance: listbox;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none;
}

.img-fluid {
  max-width: 100% !important;
  height: auto !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto {
  position: relative;
  width: 100%;
  /* padding-right: 15px;
    padding-left: 15px */
  /* this allows the users to change the padding for section blocks*/
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 576px) {
  .col-xs-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xs-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xs-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xs-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xs-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xs-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xs-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xs-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xs-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xs-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xs-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xs-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* ================Small Devices============================ */
@media (min-width: 576px) {
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* ==================Medium Devices =================== */
@media (min-width: 768px) {
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-md-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-md-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* ================= Large Devices ====================== */
@media (min-width: 992px) {
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-lg-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-lg-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-lg-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-lg-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* ================= Extra Large Devices ======================= */
@media (min-width: 1200px) {
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }

  .col-xl-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }

  .col-xl-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-xl-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-xl-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-xl-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-xl-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }

  .col-xl-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }

  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* ===================== Custom Five Column Style ================= */
@media screen and (min-width: 700px) {
  .col-xl-5col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}

/* Other custom CSS */
/* Images */
img {
  max-width: 100% !important;
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100% !important;
  height: auto !important;
}

strong {
  font-weight: bolder;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #fff;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  word-break: break-word;
}

.table .table {
  background-color: #fff;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }

  to {
    background-position: 0 0;
  }
}

.border {
  border: 1px solid #dee2e6 !important;
}

@media print {
  *,
  ::after,
  ::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  .img,
  .tr {
    page-break-inside: avoid;
  }

  .p {
    orphans: 3;
    widows: 3;
  }

  @page {
    size: a3;
  }

  .body {
    min-width: 992px !important;
    word-break: break-all !important;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table td,
  .table th {
    background-color: #fff !important;
  }
}

.backgroundImageCustomclass {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  overflow: hidden;
}

.bg-img {
  background-image: url ('https://loree.io/wp-content/uploads/2019/06/Loree_Logo_Final.png');
}

/* Loree-v2 temporary-css */
img {
  max-width: 100% !important;
}

.object-position-top {
  object-position: top;
}

.object-position-bottom {
  object-position: bottom;
}

.object-position-center {
  object-position: center;
}

.object-fit-cover {
  object-fit: cover;
}

.loree-list-style-position {
  list-style-position: inside;
}

.bStyle {
  font-weight: bold !important;
}

.normalStyle {
  font-weight: normal !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.image-shape-circle {
  clip-path: circle() !important;
}

.image-shape-square {
  clip-path: inset(5% 15% 5% 15%);
}

[class*='loree-iframe-'] {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Brush Script MT';
  src: url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.eot');
  src: url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/7655d129d0addb2f08a5c1dc994aaa4b.svg#Brush Script MT')
      format('svg');
}

@font-face {
  font-family: 'Arial Black';
  src: url('https://db.onlinewebfonts.com/t/8984ea7fcbebdcfe77fbbc1b86e7cfe6.eot');
  src: url('https://db.onlinewebfonts.com/t/8984ea7fcbebdcfe77fbbc1b86e7cfe6.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/8984ea7fcbebdcfe77fbbc1b86e7cfe6.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/8984ea7fcbebdcfe77fbbc1b86e7cfe6.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/8984ea7fcbebdcfe77fbbc1b86e7cfe6.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/8984ea7fcbebdcfe77fbbc1b86e7cfe6.svg#Arial Black')
      format('svg');
}

@font-face {
  font-family: 'Comic Sans MS';
  src: url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot');
  src: url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/7cc6719bd5f0310be3150ba33418e72e.svg#Comic Sans MS')
      format('svg');
}

@font-face {
  font-family: 'Courier';
  src: url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.eot');
  src: url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/2c922424939d2493163f367b07507e07.svg#Courier')
      format('svg');
}

@font-face {
  font-family: 'Georgia';
  src: url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.eot');
  src: url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/7dca09e227fdfe16908cebb4244589e4.svg#Georgia')
      format('svg');
}

@font-face {
  font-family: 'Lucida Sans Unicode';
  src: url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.eot');
  src: url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/26c724b3b181aad246aa1321eaa9ea21.svg#Lucida Sans Unicode')
      format('svg');
}

@font-face {
  font-family: 'Verdana';
  src: url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.eot');
  src: url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/562fa31bba08b3f71cb71257ddb880d5.svg#Verdana')
      format('svg');
}

@font-face {
  font-family: 'Trebuchet MS';
  src: url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.eot');
  src: url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/03e852a9d1635cf25800b41001ee80c7.svg#Trebuchet MS')
      format('svg');
}

@font-face {
  font-family: 'Impact';
  src: url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.eot');
  src: url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.svg#Impact LT Std')
      format('svg');
}

@font-face {
  font-family: 'Tahoma';
  src: url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.eot');
  src: url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.eot?#iefix')
      format('embedded-opentype'),
    url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.woff2') format('woff2'),
    url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.woff') format('woff'),
    url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.ttf') format('truetype'),
    url('https://db.onlinewebfonts.com/t/cd0381aa3322dff4babd137f03829c8c.svg#Tahoma') format('svg');
}

/* Upskilled fonts */
/* Mont fonts */
@font-face {
  font-family: 'Mont Semi Bold';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+SemiBold.ttf");
}

@font-face {
  font-family: 'Mont Thin';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Thin.ttf");
}

@font-face {
  font-family: 'Mont Regular';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric-Mont-Regular.ttf");
}

@font-face {
  font-family: 'Mont Bold';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Bold.ttf");
}

@font-face {
  font-family: 'Mont Heavy';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Heavy.ttf");
}

@font-face {
  font-family: 'Mont Semi Bold Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+SemiBold+Italic.otf");
}

@font-face {
  font-family: 'Mont Extra Light Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+ExtraLight+Italic.otf");
}

@font-face {
  font-family: 'Mont Light';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Light.ttf");
}

@font-face {
  font-family: 'Mont Extra Light';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+ExtraLight.ttf");
}

@font-face {
  font-family: 'Mont Black';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Black.ttf");
}

@font-face {
  font-family: 'Mont Book';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book.ttf");
}

@font-face {
  font-family: 'Mont Heavy DEMO';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Heavy+DEMO.otf");
}

@font-face {
  font-family: 'Mont Thin Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Light+Italic.otf");
}

@font-face {
  font-family: 'Mont Bold Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Bold+Italic.otf");
}

@font-face {
  font-family: 'Mont Extra Light DEMO';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+ExtraLight+DEMO.otf");
}

@font-face {
  font-family: 'Mont Heavy Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Heavy+Italic.otf");
}

@font-face {
  font-family: 'Mont Regular Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Regular+Italic.otf");
}

@font-face {
  font-family: 'Mont Hairline';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Hairline.otf");
}

@font-face {
  font-family: 'Mont Hairline Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Hairline+Italic.otf");
}

@font-face {
  font-family: 'Mont Black Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Black+Italic.otf");
}

@font-face {
  font-family: 'Mont Book Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book+Italic.otf");
}

@font-face {
  font-family: 'Mont Light Italic';
  src: url("https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/assets/fonts/Upskilled's_font/Fontfabric+-+Mont+Book+Italic.otf");
}

/* Arial fonts */
@font-face {
  font-family: 'Arial Regular';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Arial.ttf');
}

@font-face {
  font-family: 'Arial Black';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Arial+Black.ttf');
}

@font-face {
  font-family: 'Arial Bold';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/arialbd.ttf');
}

@font-face {
  font-family: 'Arial Italic';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Arial+Italic.ttf');
}

@font-face {
  font-family: 'Arial Bold Italic';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Arial+Bold+Italic.ttf');
}

/* Nexa fonts */
@font-face {
  font-family: 'Nexa Bold';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Nexa+Bold.otf');
}

@font-face {
  font-family: 'Nexa Book';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Nexa-Book.ttf');
}

@font-face {
  font-family: 'Nexa Light';
  src: url('https://loree-files.s3-ap-southeast-2.amazonaws.com/custom-fonts/Nexa+Light.otf');
}

@font-face {
  font-family: 'VIC-Bold';
  src: url('https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/VIC-Bold.ttf');
}

@font-face {
  font-family: 'VIC-Italic';
  src: url('https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/VIC-Italic.ttf');
}

@font-face {
  font-family: 'VIC-Medium';
  src: url('https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/VIC-Medium.ttf');
}

@font-face {
  font-family: 'VIC-MediumItalic';
  src: url('https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/VIC-MediumItalic.ttf');
}

@font-face {
  font-family: 'VIC-Regular';
  src: url('https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/VIC-Regular.ttf');
}

@font-face {
  font-family: 'VIC-SemiBold';
  src: url('https://wysiwyg-page-builder.s3-ap-southeast-2.amazonaws.com/VIC-SemiBold.ttf');
}

@font-face {
  font-family: 'DINNextLTProBold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBold.woff');
}

@font-face {
  font-family: 'DINNextLTProBlackItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBlackItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProHeavy';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProHeavy.woff');
}

@font-face {
  font-family: 'DINNextLTProBoldItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBoldItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProHeavyItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProHeavyItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProLight';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProLight.woff');
}

@font-face {
  font-family: 'DINNextLTProLightItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProLightItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProMedium';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProMedium.woff');
}

@font-face {
  font-family: 'DINNextLTProBlack';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBlack.woff');
}

@font-face {
  font-family: 'DINNextLTProMediumItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProMediumItalic.woff');
}

@font-face {
  font-family: 'DINNextLTProRegular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProRegular.woff');
}

@font-face {
  font-family: 'DINNextLTProUltraLight';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProUltraLight.woff');
}

@font-face {
  font-family: 'DINNextLTProUltraLightIt';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProUltraLightIt.woff');
}

@font-face {
  font-family: 'DINNextLTProBoldCondensed';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProBoldCondensed.woff');
}

@font-face {
  font-family: 'DINNextLTProMediumCond';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/DINNextLTProMediumCond.woff');
}

@font-face {
  font-family: 'Gothic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/GOTHIC.TTF');
}

@font-face {
  font-family: 'Gotham-Book-Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Gotham+Book+Regular.ttf');
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Calibri';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/calibri.ttf');
}

@font-face {
  font-family: 'Mont Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Fontfabric+-+Mont+Bold.otf');
}

@font-face {
  font-family: 'Mont Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Fontfabric+-+Mont+Regular.otf');
}

@font-face {
  font-family: 'Lato Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Lato-Italic.ttf');
}

@font-face {
  font-family: 'Lato Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Lato-Bold.ttf');
}

@font-face {
  font-family: 'Lato Bold Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Lato-BoldItalic.ttf');
}

/*  ACF fonts  */
@font-face {
  font-family: 'HelveticaNeue';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: 'HelveticaNeueBoldItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-BoldItalic-04.ttf');
}

@font-face {
  font-family: 'HelveticaNeueCondensedBlack';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-CondensedBlack-10.ttf');
}

@font-face {
  font-family: 'HelveticaNeueCondensedBold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-CondensedBold-05.ttf');
}

@font-face {
  font-family: 'HelveticaNeueItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Italic-03.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Light-08.ttf');
}

@font-face {
  font-family: 'HelveticaNeueLightItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-LightItalic-09.ttf');
}

@font-face {
  font-family: 'HelveticaNeueMedium';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Medium-11.ttf');
}

@font-face {
  font-family: 'HelveticaNeueMediumItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-MediumItalic-12.ttf');
}

@font-face {
  font-family: 'HelveticaNeueThin';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Thin-13.ttf');
}

@font-face {
  font-family: 'HelveticaNeueThinItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-ThinItalic-14.ttf');
}

@font-face {
  font-family: 'HelveticaNeueUltraLight';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-UltraLight-06.ttf');
}

@font-face {
  font-family: 'HelveticaNeueUltraLightItalic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-UltraLightItalic-07.ttf');
}

@font-face {
  font-family: 'HelveticaNeueBold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/HelveticaNeue-Bold-02.ttf');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Calibrib';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/CALIBRIB.TTF');
}

@font-face {
  font-family: 'Acronym Light';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Acronym-Light.otf');
}

@font-face {
  font-family: 'IVYPRESTO DISPLAY LIGHT';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/IVYPRESTO+DISPLAY+LIGHT.OTF');
}

@font-face {
  font-family: 'IVYPRESTO DISPLAY LIGHT ITALIC';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/IVYPRESTO+DISPLAY+LIGHT+ITALIC.OTF');
}

@font-face {
  font-family: 'Proxima Nova Alt Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Proxima+Nova+Alt+Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Proxima+Nova+Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova Thin';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/Proxima+Nova+Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova-Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/ProximaNova-Regular.otf');
}

/* NB Akademie Fonts */
@font-face {
  font-family: 'NB Akademie Std Black Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Black+Italic.otf');
}

@font-face {
  font-family: 'NB Akademie Std Black';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Black.otf');
}

@font-face {
  font-family: 'NB Akademie Std Bold Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Bold+Italic.otf');
}

@font-face {
  font-family: 'NB Akademie Std Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Bold.otf');
}

@font-face {
  font-family: 'NB Akademie Std Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Italic.otf');
}

@font-face {
  font-family: 'NB Akademie Std Light';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Light.otf');
}

@font-face {
  font-family: 'NB Akademie Std Medium Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Medium+Italic.otf');
}

@font-face {
  font-family: 'NB Akademie Std Medium';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Medium.otf');
}

@font-face {
  font-family: 'NB Akademie Std Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Regular.otf');
}

@font-face {
  font-family: 'NB Akademie Std Light Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+Akademie+Std+Light+Italic.otf');
}

/* NB International Fonts */
@font-face {
  font-family: 'NB International Pro Bold Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Bold+Italic.otf');
}

@font-face {
  font-family: 'NB International Pro Bold';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Bold.otf');
}

@font-face {
  font-family: 'NB International Pro Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Italic.otf');
}

@font-face {
  font-family: 'NB International Pro Light Italic';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Light+Italic.otf');
}

@font-face {
  font-family: 'NB International Pro Light';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Light.otf');
}

@font-face {
  font-family: 'NB International Pro Regular';
  src: url('https://loree-files.s3.ap-southeast-2.amazonaws.com/custom-fonts/NB+International+Pro+Regular.otf');
}

/* Loree Nav bar */
.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-thin {
  font-weight: 300 !important;
}

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.align-items-start {
  align-items: flex-start !important;
}

/* Navigation bar*/
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navigation1 .loree-iframe-content-menu nav {
  width: 100%;
}

.navigation2 .loree-navigation-image-section {
  text-align: left;
}

.navigation3 .loree-navigation-image-section {
  text-align: right;
}

ul.loree-iframe-content-menu {
  flex-wrap: wrap;
}

.navigation1 ul.loree-iframe-content-menu,
.navigation3 ul.loree-iframe-content-menu {
  justify-content: flex-start;
  width: auto;
  text-align: center;
}

.navigation2 ul.loree-iframe-content-menu {
  justify-content: flex-end;
  width: auto;
  text-align: center;
}

.navigation9 ul.loree-iframe-content-menu {
  /*Not sure why we use navigation9 class since we have only 4 elements as predefined*/
  justify-content: center;
  width: auto;
  text-align: center;
}

/* Min width*/
@media screen and (min-width: 568px) {
  .navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

/* Setting center alignment for Nav bar logo on mobile devices*/
/* Max width*/
@media screen and (max-width: 568px) {
  .loree-navigation-image-section {
    width: 100%;
    max-width: 100% !important;
    /* For the full width of the image section in tablet and mobile view */
    text-align: center !important;
    /* Make the image centered in the image section in tablet and mobile view */
  }

  ul.loree-iframe-content-menu,
  .loree-iframe-content-menu nav {
    width: 100% !important;
    /* FOr the full width of navigation element in nav bar only for mobile responsive */
  }
}

/* Accessibility */
.loree-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* Loree Utility classes */
.loree-util--all--unset {
  all: unset;
}

.loree-util--bottom--0 {
  bottom: 0;
}

.loree-util--bottom--100perc {
  bottom: 100%;
}

.loree-util--bottom--50perc {
  bottom: 50%;
}

.loree-util--bottom--100vh {
  bottom: 100vh;
}

.loree-util--bottom--100vw {
  bottom: 100vw;
}

.loree-util--bottom--1em {
  bottom: 1em;
}

.loree-util--isolation--isolate {
  isolation: isolate;
}

.loree-util--caption-side--top {
  caption-side: top;
}

.loree-util--caption-side--bottom {
  caption-side: bottom;
}

.loree-util--font-weight--100 {
  font-weight: 100;
}

.loree-util--font-weight--200 {
  font-weight: 200;
}

.loree-util--font-weight--300 {
  font-weight: 300;
}

.loree-util--font-weight--400 {
  font-weight: 400;
}

.loree-util--font-weight--500 {
  font-weight: 500;
}

.loree-util--font-weight--600 {
  font-weight: 600;
}

.loree-util--font-weight--700 {
  font-weight: 700;
}

.loree-util--font-weight--800 {
  font-weight: 800;
}

.loree-util--font-weight--900 {
  font-weight: 900;
}

.loree-util--font-weight--normal {
  font-weight: normal;
}

.loree-util--font-weight--bold {
  font-weight: bold;
}

.loree-util--font-weight--lighter {
  font-weight: lighter;
}

.loree-util--font-weight--bolder {
  font-weight: bolder;
}

.loree-util--background-size--contain {
  background-size: contain;
}

.loree-util--background-size--cover {
  background-size: cover;
}

.loree-util--object-fit--contain {
  object-fit: contain;
}

.loree-util--object-fit--cover {
  object-fit: cover;
}

.loree-util--object-fit--fill {
  object-fit: fill;
}

.loree-util--object-fit--none {
  object-fit: none;
}

.loree-util--object-fit--scale-down {
  object-fit: scale-down;
}

.loree-util--object-position--left-top {
  object-position: left top;
}

.loree-util--object-position--left {
  object-position: left;
}

.loree-util--object-position--left-bottom {
  object-position: left bottom;
}

.loree-util--object-position--top {
  object-position: top;
}

.loree-util--object-position--center {
  object-position: center;
}

.loree-util--object-position--bottom {
  object-position: bottom;
}

.loree-util--object-position--right-top {
  object-position: right top;
}

.loree-util--object-position--right {
  object-position: right;
}

.loree-util--object-position--right-bottom {
  object-position: right bottom;
}

.loree-util--align-content--baseline {
  align-content: baseline;
}

.loree-util--align-content--center {
  align-content: center;
}

.loree-util--align-content--end {
  align-content: end;
}

.loree-util--align-content--first-baseline {
  align-content: first baseline;
}

.loree-util--align-content--flex-end {
  align-content: flex-end;
}

.loree-util--align-content--flex-start {
  align-content: flex-start;
}

.loree-util--align-content--last-baseline {
  align-content: last baseline;
}

.loree-util--align-content--normal {
  align-content: normal;
}

.loree-util--align-content--space-around {
  align-content: space-around;
}

.loree-util--align-content--space-between {
  align-content: space-between;
}

.loree-util--align-content--space-evenly {
  align-content: space-evenly;
}

.loree-util--align-content--start {
  align-content: start;
}

.loree-util--align-content--stretch {
  align-content: stretch;
}

.loree-util--align-items--baseline {
  align-items: baseline;
}

.loree-util--align-items--center {
  align-items: center;
}

.loree-util--align-items--end {
  align-items: end;
}

.loree-util--align-items--first-baseline {
  align-items: first baseline;
}

.loree-util--align-items--flex-end {
  align-items: flex-end;
}

.loree-util--align-items--flex-start {
  align-items: flex-start;
}

.loree-util--align-items--last-baseline {
  align-items: last baseline;
}

.loree-util--align-items--normal {
  align-items: normal;
}

.loree-util--align-items--self-start {
  align-items: self-start;
}

.loree-util--align-items--self-end {
  align-items: self-end;
}

.loree-util--align-items--start {
  align-items: start;
}

.loree-util--align-items--stretch {
  align-items: stretch;
}

.loree-util--align-self--baseline {
  align-self: baseline;
}

.loree-util--align-self--center {
  align-self: center;
}

.loree-util--align-self--end {
  align-self: end;
}

.loree-util--align-self--first-baseline {
  align-self: first baseline;
}

.loree-util--align-self--flex-end {
  align-self: flex-end;
}

.loree-util--align-self--flex-start {
  align-self: flex-start;
}

.loree-util--align-self--last-baseline {
  align-self: last baseline;
}

.loree-util--align-self--normal {
  align-self: normal;
}

.loree-util--align-self--self-start {
  align-self: self-start;
}

.loree-util--align-self--self-end {
  align-self: self-end;
}

.loree-util--align-self--start {
  align-self: start;
}

.loree-util--align-self--stretch {
  align-self: stretch;
}

.loree-util--justify-items--baseline {
  justify-items: baseline;
}

.loree-util--justify-items--center {
  justify-items: center;
}

.loree-util--justify-items--end {
  justify-items: end;
}

.loree-util--justify-items--first-baseline {
  justify-items: first baseline;
}

.loree-util--justify-items--flex-end {
  justify-items: flex-end;
}

.loree-util--justify-items--flex-start {
  justify-items: flex-start;
}

.loree-util--justify-items--last-baseline {
  justify-items: last baseline;
}

.loree-util--justify-items--normal {
  justify-items: normal;
}

.loree-util--justify-items--self-start {
  justify-items: self-start;
}

.loree-util--justify-items--self-end {
  justify-items: self-end;
}

.loree-util--justify-items--start {
  justify-items: start;
}

.loree-util--justify-items--stretch {
  justify-items: stretch;
}

.loree-util--justify-self--baseline {
  justify-self: baseline;
}

.loree-util--justify-self--center {
  justify-self: center;
}

.loree-util--justify-self--end {
  justify-self: end;
}

.loree-util--justify-self--first-baseline {
  justify-self: first baseline;
}

.loree-util--justify-self--flex-end {
  justify-self: flex-end;
}

.loree-util--justify-self--flex-start {
  justify-self: flex-start;
}

.loree-util--justify-self--last-baseline {
  justify-self: last baseline;
}

.loree-util--justify-self--normal {
  justify-self: normal;
}

.loree-util--justify-self--self-start {
  justify-self: self-start;
}

.loree-util--justify-self--self-end {
  justify-self: self-end;
}

.loree-util--justify-self--start {
  justify-self: start;
}

.loree-util--justify-self--stretch {
  justify-self: stretch;
}

.loree-util--justify-content--center {
  justify-content: center;
}

.loree-util--justify-content--end {
  justify-content: end;
}

.loree-util--justify-content--flex-end {
  justify-content: flex-end;
}

.loree-util--justify-content--flex-start {
  justify-content: flex-start;
}

.loree-util--justify-content--normal {
  justify-content: normal;
}

.loree-util--justify-content--space-around {
  justify-content: space-around;
}

.loree-util--justify-content--space-between {
  justify-content: space-between;
}

.loree-util--justify-content--space-evenly {
  justify-content: space-evenly;
}

.loree-util--justify-content--start {
  justify-content: start;
}

.loree-util--justify-content--stretch {
  justify-content: stretch;
}

.loree-util--flex-direction--row {
  flex-direction: row;
}

.loree-util--flex-direction--row-reverse {
  flex-direction: row-reverse;
}

.loree-util--flex-direction--column {
  flex-direction: column;
}

.loree-util--flex-direction--column-reverse {
  flex-direction: column-reverse;
}

.loree-util--flex-wrap--nowrap {
  flex-wrap: nowrap;
}

.loree-util--flex-wrap--wrap {
  flex-wrap: wrap;
}

.loree-util--flex-wrap--wrap-reverse {
  flex-wrap: wrap-reverse;
}

.loree-util--grid-area--a {
  grid-area: a;
}

.loree-util--grid-area--b {
  grid-area: b;
}

.loree-util--grid-area--c {
  grid-area: c;
}

.loree-util--grid-area--d {
  grid-area: d;
}

.loree-util--grid-area--e {
  grid-area: e;
}

.loree-util--grid-area--f {
  grid-area: f;
}

.loree-util--grid-area--g {
  grid-area: g;
}

.loree-util--grid-area--h {
  grid-area: h;
}

a.nav-btns {
  padding: 30px 20px;
  text-decoration: none !important;
  color: #000;
  border-top: 2px solid #f56600;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

a.nav-btns:hover {
  border-top: 2px solid #123c78 !important;
  background-color: #e2e2e2;
}

/* Max-width for Course page view -- Uncomment it based on client need */
/* #wiki_page_show{
    max-width:1204px !important;
  } */
/* Remove extra link icon at the end of linked text */
.ui-icon-extlink {
  display: none !important;
}

.ui-icon {
  display: none !important;
}
