@import '../../components/dashboardSideNavbar/leftSideNavbar.scss';
@import '../../assets/stylesheets/color';

.side-nav-loader {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50px, -50px);
}

.card-header {
  cursor: pointer;
  a {
    text-decoration: none;
  }
}

.nav-item {
  .nav-link:hover {
    color: #1d3e9b;
    transition: 0.2s;
    border-right: 0.2rem solid #000d9c;
  }
  .nav-link.active-area {
    border-right: 0.2rem solid #000d9c;
    font-weight: bold;
  }
}

.card-border-folder {
  border-left: 5px solid #f8b938;
}

.card-border-page {
  border-left: 5px solid #ce232a;
}

.card-border-module {
  border-left: 5px solid #000d9c;
  cursor: unset;
}

.breadcrumb {
  background-color: #fff !important;
}

.breadcrumb-item:hover {
  color: #000d9c;
  text-decoration: underline;
  cursor: pointer;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  float: right;
}

.breadcrumb-item {
  .active-path {
    text-decoration: underline;
    color: #000d9c;
  }
}

#BB-Add-Content {
  .add-button {
    padding: 7px 15px;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-menu {
    min-width: 60px;
    border-color: #000d9c;
    ul {
      list-style: none;
      cursor: pointer;
    }
    li:hover {
      color: #000d9c;
      font-weight: bold;
    }
  }
}

.course-content-wrapper {
  position: relative;
}

// updated Styles
.profile-side-nav-wrapper.bb-nav-section {
  height: calc(100% - 67px);
  .side-nav-link-wrapper {
    .nav-link {
      display: flex;
    }
  }
}

.bb-poweredBy-section {
  font-size: 12px;
  color: $color_dorado;
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.bb-side-nav-title {
  width: 90%;
}
.bb-landing-course-list {
  max-height: calc(100vh - 170px);
  .card {
    .card-header {
      cursor: default;
    }
    .card-header.card-border-folder {
      .row > .col > span {
        cursor: pointer;
      }
    }
  }
}
