@import '../../assets/stylesheets/color';
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#loree-welcome-section {
  width: 100%;
  background-image: url('../../assets/images/loree-cover.jpg');
  background-repeat: no-repeat;
  background-size: 100% 50%;
  background-position: right top;
  padding: 0;
  height: 100vh;
  background-color: $shade-of-snow;
  .loree-auth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - (86px + 86px));
  }
  .loree-auth-modal {
    margin: auto;
    width: auto;
    height: auto;
    padding: 30px 75px;
    pointer-events: auto;
    background-color: $white;
    background-clip: padding-box;
    border-radius: 8px;
    outline: 0;
  }
  p {
    font-family: 'Barlow';
  }
  .header {
    margin: 0 0 20px 0;
    font-weight: 700;
    line-height: 1;
    color: $shade-of-cobalt;
  }
  .header-divider {
    border: 1px solid $shade-of-wishper;
    margin: 0 0 20px 0;
    opacity: 0.5;
  }
  .message-title {
    font-weight: 700;
    line-height: 1;
    color: $shade-of-matterhorn;
  }
  .message {
    color: $black;
    font-weight: 400;
    line-height: 1;
  }
  .footer-message {
    color: $dim-grey;
    font-size: 10px;
    font-weight: 400;
    line-height: 1;
    margin: 5px 0 0 0;
    .footer-message-text {
      color: $shade-of-cobalt;
    }
    .footer-link {
      margin-bottom: 5px;
      border-color: $dim-grey;
    }
  }
  .auth-title {
    margin: 0 0 20px 0;
    font-weight: 700;
    line-height: 1;
    color: $shade-of-cobalt;
  }
  .navbar-light .navbar-nav .nav-link.loree-secondary-btn.active {
    color: $shade-of-cobalt;
    background-color: $white;
  }
  .form-group {
    margin-bottom: 0.5rem;
  }
  .back-arrow {
    width: 18px;
    height: 18px;
    color: $shade-of-cobalt;
    cursor: pointer;
  }
  .container-min-width {
    min-width: 440px;
    span {
      margin-left: 15px;
    }
  }
  .container-max-width {
    max-width: 440px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f7f8f9;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;

  h2 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-bottom: 0;
    font-family: 'Poppins', sans-serif;
    color: #627680;
  }

  p {
    margin-bottom: 0;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  .icon-box {
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: #fff;
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    text-align: center;
    border-bottom: 3px solid #fff;
  }

  .icon-box:hover {
    transform: translateY(-5px);
  }

  .icon svg {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 15px;
  }

  .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
  }

  .icon-box-pink .icon svg {
    color: #ff689b;
  }

  .icon-box-pink:hover {
    border-color: #ff689b;
  }

  .icon-box-cyan .icon svg {
    color: #3fcdc7;
  }

  .icon-box-cyan:hover {
    border-color: #3fcdc7;
  }

  .icon-box-green .icon svg {
    color: #41cf2e;
  }

  .icon-box-green:hover {
    border-color: #41cf2e;
  }

  .icon-box-blue .icon svg {
    color: #2282ff;
  }

  .icon-box-blue:hover {
    border-color: #2282ff;
  }
}
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing {
  .box {
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    border: 2px solid #e9ecee;
  }

  h3 {
    font-weight: 400;
    padding: 20px 15px;
    font-size: 18px;
    color: #777777;
  }

  h4 {
    font-size: 36px;
    color: #009cea;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;

    sup {
      font-size: 20px;
      top: -15px;
      left: -3px;
    }
    span {
      color: #bababa;
      font-size: 16px;
      font-weight: 300;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    li {
      padding-bottom: 16px;
    }
    i {
      color: #009cea;
      font-size: 18px;
      padding-right: 4px;
    }
    .na {
      color: #ccc;
      text-decoration: line-through;
    }
  }

  .btn-wrap {
    padding: 20px 15px;
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  padding: 0 0 30px 0;
  color: #364146;
  font-size: 14px;

  .copyright {
    text-align: center;
    padding-top: 30px;
  }

  .credits {
    padding-top: 8px;
    text-align: center;
    font-size: 13px;
    color: #364146;
  }
}
