@import 'custom';
@import '../../../lms-assets/src/styles/lms-utils';

@font-face {
  font-family: SourceSansPro-Regular;
  src: local('SourceSansPro-Regular'), url(..//fonts//SourceSansPro-Regular.ttf) format('truetype');
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: SourceSansPro-Regular;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

// Used to hide elements for sighted users, but still show it for screen readers
.loree-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}
