/* make the customizations */
$primary: #000d9c;
$secondary: #0c50b0;

/* import bootstrap to set changes */
@import '~bootstrap/scss/bootstrap';

// For Amplify Cognito UI
:root {
  --amplify-primary-color: #000d9c;
  --amplify-primary-tint: #000d9c;
  --amplify-primary-shade: #000d9c;
}
