@import '../../assets/stylesheets/color';
.my-templates-wrapper {
  h2 {
    font-size: 24px;
    line-height: 40px;
    color: $color_ultramarine;
  }
  nav {
    border: none;
    a.nav-link {
      color: $black;
      font-size: 16px;
      border: none;
      border-bottom: 2px solid $border-light;
      &:hover {
        color: $color_ultramarine;
        border: none;
        border-bottom: 2px solid $border-light;
      }
      &:focus {
        outline: none;
      }
    }
    a.nav-link.active.nav-item {
      border: none;
      border-bottom: 4px solid $color_ultramarine;
      font-weight: bold;
    }
  }
  .templates-tab-section {
    .tab-content {
      margin-top: 25px;
      .template-unit {
        padding: 15px 12px;
        background-color: $tile-grey;
        border-radius: 8px;
        img {
          width: 50px;
          height: 50px;
          border: 1px solid $dim-grey;
          border-radius: 4px;
        }
        .my-template-name {
          font-size: 16px;
          color: $black;
          p {
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .template-date-details {
          color: $black;
          label {
            font-size: 12px;
            margin-bottom: 0;
          }
          p {
            font-size: 16px;
          }
        }
        .ellipsis-icon {
          display: flex;
          align-items: center;
          margin-right: 15px;
          button {
            background-color: unset;
            svg {
              width: 4px;
              height: 18px;
            }
          }
          .dropdown-menu {
            a:nth-child(2) {
              display: none;
            }
          }
        }
      }
      .tooltip {
        bottom: 25px;
        &:before {
          border: 0;
        }
      }
    }
    .template-tools {
      right: 0;
      top: 0%;
      > div {
        margin-left: 20px;
      }
      .card-export-button {
        svg {
          width: 25px;
          height: 25px;
          fill: $black;
        }
      }
      .template-search-block {
        width: 250px;
        height: 30px;
      }
      .template-search-bar {
        border: 0;
        outline: none;
        border-bottom: 1px solid $color_gray;
        transition: width 0.7s cubic-bezier(0, 0.795, 0, 1);
        font-size: 1rem;
        padding-right: 2.5rem;
        width: 250px;
      }
      .template-search-icon {
        width: 24px;
        height: 20px;
        right: 0;
        cursor: pointer;
        &:hover {
          fill: $color_ultramarine;
        }
      }
      .search-bar-active {
        width: 15px;
        height: 12px;
        fill: $color_ultramarine;
      }
    }
    .form-group {
      margin-bottom: 0;
      position: relative;
      select.form-control {
        -webkit-appearance: none;
        width: 140px;
        border: 1px solid $dim-grey;
        border-radius: 4px;
        outline: none;
        color: $black;
        font-size: 12px;
        cursor: pointer;
        &:focus {
          box-shadow: none;
        }
      }
      select#categoryfilter {
        overflow: hidden !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.375rem 1.5rem 0.375rem 0.75rem;
      }
      .arrow-down {
        width: 0;
        height: 0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        border-top: 9px solid $color_dorado;
        position: absolute;
        top: 38%;
        right: 6%;
        pointer-events: none;
      }
    }
  }
}
.my-templates-wrapper .templates-tab-section .tab-content .template-unit.selected-template {
  background-color: $ghost-white;
}

//common custom checkbox

.custom-checkbox-common {
  .checkbox-unit {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
      width: 15px;
      height: 15px;
      margin-bottom: 0;
    }

    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 15px;
      height: 15px;
      background: $white;
      border-radius: 2px;
      border: 1px solid $dim-grey;
    }
    // Box checked
    &:checked + label:before {
      background: $color_dorado;
    }
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 3px;
      top: 8px;
      background: $white;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 $white, 4px 0 0 $white, 4px -2px 0 $white, 4px -4px 0 $white,
        4px -6px 0 $white, 4px -7px 0 $white;
      transform: rotate(45deg);
    }
  }
}
//Responsive Styles
@media (max-width: 1200px) {
  .my-templates-wrapper {
    h2 {
      font-size: 20px;
    }
    .card-export-button {
      transform: none;
    }
    nav {
      a.nav-link {
        font-size: 1rem;
      }
    }
    .templates-tab-section {
      .template-tools {
        .template-search-block {
          width: 130px;
        }
        .template-search-bar {
          width: 130px;
        }
      }
    }
  }
}

// Fixed header and sidebar styles
.admin-side-nav-wrapper {
  position: fixed;
  width: 16%;
}
