@import '../../assets/stylesheets/color';
.profile-side-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  max-width: 15rem;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #ecedef;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .loree-nav-brand {
    position: relative;
    top: 1.1rem;
    left: 0.2rem;
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  .image-border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .side-nav-user-link {
    border-top: 0.063rem solid rgba(0, 0, 0, 0.1);
    @extend .image-border;
  }
  .user-avatar-wrapper {
    position: relative;
  }
  .side-nav-user-avatar {
    width: 80px;
    height: 80px;
  }
  .user-profile-img {
    max-width: 100%;
    border-radius: 100%;
    object-fit: cover;
    overflow: hidden;
    vertical-align: middle;
    border: 0;
    &:hover {
      cursor: pointer;
    }
  }
  .active {
    color: #000d9c;
    border-right: 0.25rem solid #000d9c;
    margin-right: -2.4rem;
    svg {
      fill: $color_ultramarine;
    }
  }
  .side-nav-link-wrapper {
    .nav-link {
      color: '#000' !important;
    }
  }
}
