.uploadButton {
  cursor: pointer;
  margin: 0;
}

.migrateDataTextWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.migrateFileUploadedInput {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
}

.json-table-wrapper {
  .table-responsive {
    height: 60vh;
    overflow-y: scroll;
  }
  thead {
    th {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: #f5f5f5;
      color: #000;
      font-size: 0.875rem;
    }
  }
}
